{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="single-column-form-outer" >
  <div class="content-area">
      <div class="single-column-form-inner" >
        <div class="single-column-header">User Category<span class="error-message"></span></div>
        <div class="single-column-input-row">
          <div class="input-row">
            <div class="single-column-field-label">Category Name:</div>
            <div class="single-column-field-input-label">Business Team</div>
          </div>
          </div>
          <div class="clearfix"></div>
          <div class="grid-table">
          <table>
          <tr align="left">
          <th>Forms</th>
          </tr>
          <tr>
          <td>Update Status</td>
          </tr>
          <tr>
          <td>Client Configuration</td>
          </tr>
          <tr>
          <td>Configuration Approval</td>
          </tr>
          <tr>
          <td>Define Requirement</td>
          </tr>
          <tr>
          <td>Requirement Approval</td>
          </tr>
          <tr>
          <td>Sub Task Request</td>
          </tr>
          </table>
          </div>
        <div class="submit-button-container">
          <input type="reset" name="cancel" value="Back" class="btn-cancel" onclick="location.href='/user_category_approve/list'" >
        </div>
      </div>
  </div>
</div>
{% endblock %}
