{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width50">
  <div class="content-area">
      <div class="add-container">
      <div class="add-container-heading">User Category Approval<span class="error-message"></span></div>
      <div class="input-row-left">
          <div class="input-row">
          <div class="field-label">Category :</div>
          <div class="field-input">
              <input type="text" class="input-box icon-autocomplete" id="category" autofocus value="" placeholder="Type category">
            </div>
        </div>
        </div>
      <div class="input-row-right" style="float:left; width:0%;">
          <div class="submit-button-container" style="float:left;">
          <input type="submit" name="cancel" value="Show" class="btn-submit">
        </div>
      </div>
      
      <div class="clearfix"></div>
          <div class="grid-table">
            <table>
              <tr align="left">
                <th width="6%" align="center">#</th>
                <th>Category</th>
                <th align="left" width="20%">Approve / Reject</th>
                <th align="left" width="25%">Comments</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td><a href="/user_category_approve/update">Business Team</a></td>
                <td align="left"><select class="input-box"><option selected="selected">Approve</option></select></td>
                <td align="left"><input type="text" value="" class="input-box" placeholder="Type comments" /></td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td><a href="#">Techno Functional Team</a></td>
                <td align="left"><select class="input-box"><option selected="selected">Reject</option></select></td>
                <td align="left"><input type="text" value="" class="input-box" placeholder="Type comments" /></td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td><a href="#">Knowledge Team</a></td>
                <td align="left"><select class="input-box"><option selected="selected">(Select)</option></select></td>
                <td align="left"><input type="text" value="" class="input-box" placeholder="Type comments" /></td>
              </tr>
            </table>
          </div>
          <div class="submit-button-container">
          <input type="submit" name="cancel" value="Save" class="btn-submit">
        </div>
        </div>
      </div>
</div>
<script>
$(function(){
  $('#category').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Business Team', 'Techno Functional Team', 'Business Team', 'Client Team', 'Service Provider Team'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  
});
</script>
{% endblock %}
