{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
      $(".index-tab").click(function() {
        $(".index-tab").addClass("active")
        $(".archive-tab").removeClass("active")
        $(".index-tab-content").show();
        $(".archive-tab-content").hide();
      })

      $(".archive-tab").click(function() {
        $(".archive-tab").addClass("active")
        $(".index-tab").removeClass("active")
        $(".index-tab-content").hide();
        $(".archive-tab-content").show();
      })

    })

  </script>
  <div class="content-container">
        <div class="content-area">
          <h1>Archive</h1>
          <div class="archive-container">
            <div class="archive-header">
              <span class="index-tab active">Index</span>
              <span class="archive-tab">Archive</span>
            </div>
            <!-- index tab content start here -->
            <div class="index-tab-content">
              <div class="index-list-content">
                <div class="index-list-outer active">
                  <div class="icon-close"><img src="images/icon-close.png"></div>
                  <div class="task-details-content">
                    <h1>Task name (Activity type)</h1>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                  <div class="icon-close"><img src="images/icon-close.png"></div>
                  <div class="task-details-content">
                    <h1>Task name1 (Activity type)</h1>
                   
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                  <div class="icon-close"><img src="images/icon-close.png"></div>
                  <div class="task-details-content">
                    <h1>Task name2 (Activity type)</h1>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                  <div class="icon-close"><img src="images/icon-close.png"></div>
                  <div class="task-details-content">
                    <h1>Task name3 (Activity type)</h1>
                   
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
              </div>
              <div class="index-details-content">
                <h1>Task name (Activity type)</h1>
                <p><span class="bold-text">Task completed on:</span> 20-01-2015</p>
                <p><span class="bold-text">Assignee Name</span>: Name of the assignee</p>
                <p><span class="bold-text">Activity Type</span>: Activity type details</p>
                <h2>Sub task list</h2>
                <ul>
                  <li>Sub task list - 1</li>
                  <li>Sub task list - 2</li>
                  <li>Sub task list - 3</li>
                  <li>Sub task list - 4</li>
                </ul>
              </div>
            </div>
            <!-- index tab content end here -->

            <!-- archive tab content start here -->
            <div class="archive-tab-content">
              <div class="archive-list-content">
                <div class="archive-list-outer active">
                  <div class="icon-close"><img src="images/icon-undo.png"></div>
                  <div class="task-details-content">
                    <h1>Task name4 (Activity type)</h1>
                   
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="archive-list-outer">
                  <div class="icon-close"><img src="images/icon-undo.png"></div>
                  <div class="task-details-content">
                    <h1>Task name5 (Activity type)</h1>
                  
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="archive-list-outer">
                  <div class="icon-close"><img src="images/icon-undo.png"></div>
                  <div class="task-details-content">
                    <h1>Task name6 (Activity type)</h1>
                  
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="archive-list-outer">
                  <div class="icon-close"><img src="images/icon-undo.png"></div>
                  <div class="task-details-content">
                    <h1>Task name7(Activity type)</h1>
                  
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
              </div>
              <div class="archive-details-content">
                <h1>Task name (Activity type)</h1>
               
                <p><span class="bold-text">Task completed on:</span> 20-01-2015</p>
                <p><span class="bold-text">Assignee Name</span>: Name of the assignee</p>
                <p><span class="bold-text">Activity Type</span>: Activity type details</p>
                <h2>Sub task list</h2>
                <ul>
                  <li>Sub task list - 1</li>
                  <li>Sub task list - 2</li>
                  <li>Sub task list - 3</li>
                  <li>Sub task list - 4</li>
                </ul>
              </div>
            </div>
            <!-- archive tab content end here -->
          </div>
        </div>
      </div>
{% endblock %}