{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Service Mapping List<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Domain Mapping:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">LLC - Payroll</option>
              <option >LLC - Administration</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Applicability:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">Concurrent</option>
              <option >Central</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Service Mapping Name:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" autofocus id="servicemapping" value="Ramesh" placeholder="Enter mapping name">
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label"> Statutory Mapping:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">ITACT1961-192</option>
              <option >ITACT1961-196</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Industry Mapping:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">Manufacture - Auto</option>
              <option >Manf-Chemical</option>
            </select>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
        <input type="button" class="btn-submit" value="Export to CSV" />
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th width="6%" align="center">#</th>
            <th>Name of Service Mapping</th>
            <th>Domain Mapping</th>
            <th>Industry Mapping</th>
            <th>Applicability</th>
          </tr>
          <tr>
            <td align="center">1</td>
            <td><a href="#">Payroll-TDS</a></td>
            <td>LLC - Payroll</td>
            <td>Manufacture - Auto</td>
            <td>Concurrent</td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td><a href="#">Payroll-PF</a></td>
            <td>LLC - Payroll</td>
            <td>Manufacture - Auto</td>
            <td>Concurrent</td>
          </tr>
          <tr>
            <td align="center">3</td>
            <td><a href="#">Payroll-ESI</a></td>
            <td>LLC - Payroll</td>
            <td>Manufacture - Auto</td>
            <td>Concurrent</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#servicemapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Mapping 1', 'Mapping 2', 'Mapping 3'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   
});
</script>
{% endblock %}