{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="single-column-form-outer">
  <div class="content-area">
    <div class="single-column-form-inner">
      <div class="single-column-header">Industry Mapping<span class="error-message"></span>
    </div>
    <div class="single-column-input-row">
      <div class="form-container-grid-table">
          <table>
            <tr align="left">
              <th width="50%">Industry</th>
              <th width="50%">Sector</th>
            </tr>
            <tr>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  
                  <li>Manufacturing</li>
                  <li >Production</li>                  
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Application Software</li>
                  <li class="active">Computer Peripherals</li>
                  <li>Data Storage Devices</li>
                  <li>Internet Service Providers</li>
                  <li>Internet Software & Services</li>
                  <li>Printed Circuit Boards</li>
                  <li>Technical & System Software</li>
                  <li>Telecom Services - Domestic</li>
                  <li>Telecom Services - Foreign</li>
                  <li>Wireless Communications</li>
                </ul>
              </td>
             
            </tr>
          </table>

              </div>
              <div class="clearfix"></div>
              <br>
                <div class="grid-table">
               <table> <tr>
              <td align="right">Name This Mapping As</td>
              <td><span><input type="text" name="location" class="location-textbox" > <input type="submit" value="Save" name="save" class="btn-save"></span></td>
              </tr></table>
              
        </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}