{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width50" >
  <div class="content-area">
    <div class="add-container" >
      <div class="add-container-heading">User Group<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="single-column-field-label">Group Name:</div>
          <div class="single-column-field-input">
            <input type="text" class="input-box" value="Knowledge User">
          </div>
        </div>
        </div>
        <div class="input-row-right">
        <div class="input-row">
          <div class="single-column-field-label">Category Name:</div>
          <div class="single-column-field-input">
            <select class="input-box">
              <option selected="selected">Knowledge Team Team</option>
              <option>Techno Functional Team</option>
            </select>
          </div>
        </div>
        </div>
        <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
      <div class="clearfix"></div>
      <div class="grid-table" style="overflow-y:scroll; height:240px;">
        <table>
          <tr align="left">
            <th><input type="checkbox"></th>
            <th>Domain Master</th>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Country Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Statutory Level Master</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked"></td>
            <td>Statutory Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Applicability Master</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked"></td>
            <td>Industry Master</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked"></td>
            <td>Geography Level Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Geography Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Statutory Mapping</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Approve Statutory Mapping</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Client Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Assign Keycontact</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Assign Statutory</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Client Report</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Tasks Report</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Audit Trail</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Service Provider Master</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>User Privilages</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>User Creation - Client</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Assign Userlevel</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Assign Task</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Reassign Task</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Task Approval</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Task Details</td>
          </tr>
        </table>
      </div>
      <div class="submit-button-container">

      <br>
        <input type="reset" name="cancel" value="Cancel" class="btn-cancel" onclick="location.href='/user_group_privileges/list'" >
        &nbsp;&nbsp;
        <input type="submit" name="submit" value="Submit" class="btn-submit">
      </div>
    </div>
  </div>
</div>
{% endblock %} 