{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Geography Master<span class="error-message"></span></div>
       <div class="single-column-input-row" style="margin-top:10px">
        <div class="input-row">
          <div class="single-column-field-label">Country</div>
          <div class="single-column-field-input">
            <input type="text" name="location-name" class="input-box icon-autocomplete" style="width:200px;" value="India">
          </div>
        </div>
       </div>
       <br>
       <div class="form-container-outer">
<!--grid Panchayat-->
<div id="grid-panchayat" class="form-container-grid-table" >
              <table style="width:auto">
                <tr align="left">
                  <th width="200px">Region</th>
                  <th width="200px">Union Territory</th>
                  <th width="200px">State</th>
                  <th width="200px">District</th>
                </tr>
                <tr>
                  <td>
                    <div align="center"><input type="text" class="input-box" placeholder="Region"/>
                    <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span></div>
                    <ul>
                      <li>East India</li>
                      <li>North India</li>
                      <li>Northeast India</li>
                      <li class="active">South India</li>
                      <li>West India</li>
                    </ul>
                  </td>
                  <td>
                    <div align="center"><input type="text" class="input-box" placeholder="Union Territory" />
                    <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Andaman and Nicobar</li>
                      <li>Lakshadweep</li>
                    </ul>
                  </td>
                  <td>
                    <div align="center"><input type="text" class="input-box" placeholder="State" />
                    <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Andhrapradesh</li>
                      <li>Karnataka</li>
                      <li >Kerala</li>
                      <li class="active">TamilNadu</li>
                    </ul>
                  </td>
                  <td>
                    <div align="center" style="margin-bottom:5px"><input type="text" class="input-box" placeholder="District" />
                      <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li class="active">Madurai</li>
                      <li>Kanyakumari</li>
                      <li>Tirunelveli</li>
                      <li>Virudhunagar</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <table style="width:auto">
                <tr align="left">
                  <th width="200px">Corporation</th>
                  <th width="200px">Municipality</th>
                  <th width="200px">Town</th>
                  <th width="200px">Panchayat</th>
                </tr>
                <tr>
                  <td width="200px">
                    <div align="center"><input type="text" class="input-box" placeholder="Corporation" />
                      <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Madurai Corporation</li>
                    </ul>
                  </td>
                  <td width="200px">
                    <div align="center"><input type="text" class="input-box" placeholder="Municipality" />
                      <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Avaniyapuram</li>
                      <li>Melur</li>
                      <li>Thirumangalam</li>
                      <li class="active">Thiruparangundram</li>
                      <li>Usilampatti</li>
                    </ul>
                  </td>
                  <td width="200px">
                    <div align="center"><input type="text" class="input-box" placeholder="Town" />
                      <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Thirunagar</li>
                      <li>Peraiyur</li>
                      <li>Vadipatti</li>
                    </ul>
                  </td>
                  <td width="200px">
                    <div align="center" style="margin-bottom:5px"><input type="text" class="input-box" placeholder="Panchayat" value="Eliyarpatthy"/>
                      <span> <a href="#"><img src="/images/icon-plus.png" 
                           formtarget="_self" /></a> </span>
                    </div>
                    <ul>
                      <li>Parapathy</li>
                      <li>Karadipatty</li>
                      <li>Nallur</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
            </div>
          </div>
  </div>
</div>
</div>
{% endblock %}