{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width50">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Service Provider Creation<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Service Provider Name:</div>
                <div class="field-input"><input type="text" class="input-box" value="ART Solutions"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Contact No.:</div>
                <div class="field-input"><input type="text" class="input-box" value="04524325856"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Address 1:</div>
                <div class="field-input"><input type="text" class="input-box" value="152, South Cross Street"></div>
              </div>
              <div class="input-row">
                <div class="field-label">City:</div>
                <div class="field-input"><input type="text" class="input-box" value="Madurai"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Country:</div>
                <div class="field-input"><input type="text" class="input-box" value="India"></div>
              </div>
            </div>
            <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">Contact Person:</div>
                <div class="field-input"><input type="text" class="input-box" value="Ram Kumar"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Email ID:</div>
                <div class="field-input"><input type="text" class="input-box" value="artsoluation@gmail.com"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Address 2:</div>
                <div class="field-input"><input type="text" class="input-box" value="Anna Nagar"></div>
              </div>
              <div class="input-row">
                <div class="field-label">State:</div>
                <div class="field-input"><input type="text" class="input-box" value="Tamil Nadu"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Contract From:</div>
                <div class="field-input"><input type="date" class="input-box" value="2015-07-12"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Contract To:</div>
                <div class="field-input"><input type="date" class="input-box" value="2017-07-12">
                </div>
              </div>
            </div>
            <div class="add-container-heading">Login Details<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                  <div class="field-label">Username</div>
                  <div class="field-input"><input type="text" class="input-box" value="artraj"></div>
                </div>
              
            </div>
            <div class="input-row-right">
              <div class="input-row">
                  <div class="field-label">Password</div>
                  <div class="field-input"><input type="password" class="input-box" value="123456"></div>
                </div>
                
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Cancel" onclick="location.href='/report/service_provider'" class="btn-cancel">&nbsp;&nbsp;
              <input type="submit" name="cancel" value="Submit" class="btn-submit">
            </div>
          </div>
        </div>
      </div>
{% endblock %}
  <table cellpadding="0" cellspacing="0" width="600px">
    <tr>
      <th colspan="4">Service Provider Creation</th>
    </tr>
    <tr>
    <td>Service Provider Name:</td>
    <td><input type="text" value="ART Solutions" /></td>
    <td>Contact Person:</td>
      <td><input type="text" autocomplete="on" value="Ram Kumar" /></td>
    </tr>
    <tr>
      <td>Contact No.:</td>
      <td><input type="text" autocomplete="on" value="04524325856" /></td>
      <td>Email ID:</td>
      <td><input type="text" autocomplete="on" value="artsoluation@gmail.com" /></td>
    </tr>
    <tr>
      <td>Address 1:</td>
      <td><input type="text" value="152, South Cross Street" /></td>
      <td>Address 2:</td>
      <td><input type="text" value="Anna Nagar" /></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><input type="text" autocomplete="on" value="Madurai" /></td>
      <td>State:</td>
      <td><input type="text" autocomplete="on" value="Tamil Nadu" /></td>
    </tr>
    <tr>
      <td>Country:</td>
      <td><input type="text" autocomplete="on" value="India" /></td>
      <td>Contract Duration(Years):</td>
      <td><input type="number" autocomplete="on" value="2" /></td>
    </tr>
    <tr>
    <th colspan="4">Login Details</th>
    </tr>
    <tr>
      <td>Username:</td>
      <td><input type="text" autocomplete="on" value="artraj" /></td>
      <td>Password:</td>
      <td><input type="password" autocomplete="on" value="123456" /></td>
    </tr>
    <tr>
    <td colspan="4" align="center"><input type="button" value="Save" /></td>
    </tr>
  </table>
</div>
</body>
</html>
