{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width60">
        <div class="content-area">
          <h1>Service Providers</h1>
          <div class="filters-and-search">
            <div class="btn-add" onclick="location.href='/service_provider/create'" formtarget="_self">Add</div>
          </div>
          <div class="clearfix"></div>
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="18%" align="left">Service Provider</th>
                <th width="15%" align="left">Contact Person</th>
                <th width="14%" align="left">Mobile No.</th>
                <th width="10%" align="left">Email ID</th>
                <th width="3%" align="center">Edit</th>
                <th width="5%" align="center">Status</th>
              </tr>
              <tr>
                <td align="center"></td>
                <td><input type="text"  class="filter-text-box"></td>
                <td><input type="text"  class="filter-text-box"></td>
                <td><input type="text"  class="filter-text-box"></td>
                <td><input type="text"  class="filter-text-box"></td>
                <td align="center"></a></td>
                <td align="center"></td>
              </tr>
              <tr>
                <td align="center">1</td>
                <td align="left">Service provider 1</td>
                <td align="left">John</td>
                <td align="left">9876543210</td>
                <td align="left">john@domain.com</td>
                <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
                <td align="center"><a href="#"><img src="/images/icon-active.png" title="Click here to deactivate" /></a></td>
              </tr>     
              <tr>
                <td align="center">2</td>
                <td align="left">Service provider 2</td>
                <td align="left">Michel</td>
                <td align="left">7876543210</td>
                <td align="left">michel@domain.com</td>
                <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
                <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate"></a></td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td align="left">Service provider 3</td>
                <td align="left">Ram Kumar</td>
                <td align="left">04524325856</td>
                <td align="left">ram@gmail.com</td>
                <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
                <td align="center"><a href="#"><img src="/images/icon-active.png" title="Click here to deactivate" /></a></td>
              </tr>          
            </table>
          </div>
        </div>
      </div>
{% endblock %}