{% extends "files/desktop/Header/Header.html" %}
{% block content %}
      <div class="content-container width60">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Define Requirement / Configuration<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Client Name:</div>
                <div class="input-label">TVS Group</div>
              </div>
              <div class="input-row">
                <div class="field-label">Group Company:</div>
                <div class="input-label">TVS Group of Companies</div>
              </div>
              <div class="input-row">
                <div class="field-label">Legal Entity:</div>
                <div class="input-label">TVS & Sons</div>
              </div>
              <div class="input-row">
                <div class="field-label">Division:</div>
                <div class="input-label">Auto Parts - Manufacturing</div>
              </div>
              <div class="input-row">
                <div class="field-label">Unit / Branch:</div>
                <div class="input-label">South Gate, Madurai</div>
              </div>
              <div class="input-row">
                <div class="field-label">Mobile No.:</div>
                <div class="input-label">9876543210</div>
              </div>
              <div class="input-row">
                <div class="field-label">Email ID:</div>
                <div class="input-label">manikam@domain.com</div>
              </div>
            </div>
            <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">Address:</div>
                <div class="input-label">12, South Gate, Madurai</div>
              </div>
              
              <div class="input-row">
                <div class="field-label">Location:</div>
                <div class="input-label">
                  South Gate</div>
              </div>
              <div class="input-row">
                <div class="field-label">District:</div>
                <div class="input-label">
                  Madurai
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Region:</div>
                <div class="input-label">
                  South India
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Province:</div>
                <div class="input-label">
                  -
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">State:</div>
                <div class="input-label">
                  TamilNadu
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Country:</div>
                <div class="input-label">
                  India
                </div>
              </div>
            </div>
            <div class="add-container-heading">&nbsp;<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Domain:</div>
                <div class="field-input"><input type="text" class="input-box" value="Labour Law Compliances"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Applicability:</div>
                <div class="field-input"><input type="text" class="input-box" value="Concurrent"></div>
              </div>
            </div>
            <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">Industry:</div>
                <div class="field-input"><input type="text" class="input-box" value="Manufacturing"></div>
              </div>
              <div class="input-row">
                <div class="field-label">Industry Sector:</div>
                <div class="field-input"><input type="text" class="input-box" value="Auto Parts"></div>
              </div>
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Cancel" class="btn-cancel" onclick="location.href='/define_req_conf/list'">&nbsp;&nbsp;
              <input type="submit" name="cancel" value="Submit" class="btn-submit">
            </div>
          </div>
        </div>
      </div>
   
{% endblock %}