{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Approve Assigned Statutory<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Domain :</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="domainmapping" autofocus value="Labour Law" placeholder="Enter Domain Name">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Type :</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="domainmapping" autofocus value="Factory" placeholder="Enter Type Name">
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Country :</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="statutorymapping" autofocus value="India">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Client Group :</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="statutorymapping" autofocus value="" placeholder="Enter Client Group">
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th width="3%"><input type="checkbox" /></th>
            <th width="6%">Country</th>
            <th width="12%">Client Group</th>
            <th width="12%">Entity</th>
            <th width="14%">Division</th>
            <th width="13%">Unit</th>
            <th width="7%">Type</th>
            <th width="10%">Domain</th>
            <th width="11%">Action</th>
            <th width="15%">Remarks</th>
          </tr>
          <tr>
            <td><input type="checkbox" checked="checked" /></td>
            <td>India</td>
            <td>VRM Motors</td>
            <td>VRM & Sons</td>
            <td>Auto - Manufacturing</td>
            <td><a href="#">Branch Office - 2</a></td>
            <td>Factory</td>
            <td>Industrial Law</td>
          	<td><select class="input-box"><option selected="selected">Approve</option><option>Reject</option></select></td>
          	<td>&nbsp;</td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>India</td>
            <td>VRM Motors</td>
            <td>VRM & Sons</td>
            <td>Auto - Manufacturing</td>
            <td><a href="#">Branch Office - 1</a></td>
            <td>Office</td>
            <td>Finance Law</td>
            <td><select class="input-box"><option>Approve</option><option selected="selected">Reject</option></select></td>
          	<td><input type="text" class="input-box" placeholder="Enter reason" /></td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>India</td>
            <td>ART Private Ltd.</td>
            <td>ART Legal Entity</td>
            <td>ART Pvt Ltd</td>
            <td><a href="#">Regional Office - 1</a></td>
            <td>Office</td>
            <td>Finance Law</td>
          	<td><select class="input-box"><option selected="selected">Approve</option><option>Reject</option></select></td>
          	<td>&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Save" class="btn-submit">
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#domainmapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['FL-Insolvency', 'FL-Tax', 'FL-Trusts', 'LLC-Administration', 'LLC-Payroll', 'LLC-Wage Regulations'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#statutorymapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['ITACT1961-191', 'ITACT1961-192', 'ICA1872-15'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#servicemapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Payroll-TDS', 'Payroll-PF', 'Payroll-ESI'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#applicability').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Central', 'Concurrent', 'State'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#industrymapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Manufacturing - Autoparts', 'Production - Mixing', 'IT - Hardware'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script> 
{% endblock %}