{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <div class="content-container">
        <div class="content-area">
          <h1>Data Archive</h1>
          <div class="archive-container">
            <div class="archive-header">
              
              <span class="index-tab active">Archive</span>
            </div>
            <!-- index tab content start here -->
            <div class="index-tab-content">
              <div class="index-list-content">
                <div class="index-list-outer active">
                  
                  <div class="task-details-content">
                    <h1>Task name (Activity type)</h1>
                    <p><span>Client Name</span> – legal entity</p>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                 
                  <div class="task-details-content">
                    <h1>Task name1 (Activity type)</h1>
                    <p><span>Client Name</span> – legal entity</p>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                 
                  <div class="task-details-content">
                    <h1>Task name2 (Activity type)</h1>
                    <p><span>Client Name</span> – legal entity</p>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
                <div class="index-list-outer">
                 
                  <div class="task-details-content">
                    <h1>Task name3 (Activity type)</h1>
                    <p><span>Client Name</span> – legal entity</p>
                    <p><span>Completed on</span> - 2015-01-15</p>
                  </div>
                  <div class="assignee">Assignee name</div>
                </div>
              </div>
              <div class="index-details-content">
                <h1>Task name (Activity type)</h1>
                <p><span class="bold-text">Client Name:</span> Legan Entity name</p>
                <p><span class="bold-text">Task completed on:</span> 20-01-2015</p>
                <p><span class="bold-text">Assignee Name</span>: Name of the assignee</p>
                <p><span class="bold-text">Activity Type</span>: Activity type details</p>
                <h2>Sub task list</h2>
                <ul>
                  <li>Sub task list - 1</li>
                  <li>Sub task list - 2</li>
                  <li>Sub task list - 3</li>
                  <li>Sub task list - 4</li>
                </ul>
              </div>
            </div>
            <!-- index tab content end here -->

      
          </div>
        </div>
      </div>
{% endblock %}