{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <h1>Clients</h1>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr align="left">
          <th width="5%" align="center">#</th>
          <th >Client</th>
          <th >Contact Person</th>
          <th >Mobile </th>
          <th >Email</th>
          <th >Days</th>
        </tr>
        <tr>
          <td align="center">1</td>
          <td>TVS</td>
          <td>Ramakrishnan</td>
          <td>9876543210</td>
          <td>Ramakrishnan@domain.com</td>
          <td>65</td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>PRG</td>
          <td>Sundharrajan</td>
          <td>7896543210</td>
          <td>Sundharrajan@domain.com</td>
          <td>55</td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>Bajaj</td>
          <td>Ramamoorthy</td>
          <td>7896543210</td>
          <td>Ramamoorthy@domain.com</td>
          <td>38</td>
        </tr>
        <tr>
          <td align="center">4</td>
          <td>Neon Electronics</td>
          <td>Krishnaraj</td>
          <td>8996543210</td>
          <td>Krishnaraj@domain.com</td>
          <td>19</td>
        </tr>
        <tr>
          <td align="center">5</td>
          <td>Nova Mobiles</td>
          <td>Raguram </td>
          <td>7996543210</td>
          <td>Raguram@domain.com</td>
          <td>5</td>
        </tr>
        
      </table>
    </div>
  </div>
</div>
{% endblock %}