{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="single-column-form-outer width40">
  <div class="content-area">
      <div class="single-column-form-inner">
    <div class="single-column-header">Task Approval<span class="error-message"></span></div>
     <div class="single-column-input-row">
          <div class="input-row">
          <div class="single-column-field-label">Task Type:</div>
          <div class="single-column-field-input">
              <select class="input-box">
              <option>One Time</option>
              <option selected="selected">Recurring</option>
            </select>
            </div>
        </div>
          <div class="input-row">
          <div class="single-column-field-label">Task Name:</div>
          <div class="single-column-field-input">
              <input type="text" class="input-box" value="Labour Law Compliances">
            </div>
        </div>
        </div>
      <div class="submit-button-container">
          <input type="submit" name="cancel" value="Show" class="btn-submit">
        </div>
      <div class="clearfix"></div>
      <div class="grid-table">
          <table>
          <tr align="left">
              <th><input type="checkbox" /></th>
              <th>Task Name</th>
              <th>Task Type</th>
              <th>Approve</th>
            </tr>
             <tr>
              <td><input type="checkbox" /></td>
              <td><a href="#">PF Calculation</a></td>
              <td>Recurring</td>
              <td>
                <select class="input-box">
                  <option>Approve</option>
                  <option selected="selected">Reject</option>
                </select>
              </td>
            </tr>
         
             <tr>
              <td><input type="checkbox" checked="checked" /></td>
              <td><a href="#">Registration</a></td>
              <td>One Time</td>
               <td>
                <select class="input-box">
                  <option selected="selected">Approve</option>
                  <option>Reject</option>
                </select>
              </td>
            </tr>
          <tr>
              <td><input type="checkbox" checked="checked" /></td>
              <td><a href="#">TDS Deduction</a></td>
              <td>Recurring</td>
              <td>
                <select class="input-box">
                  <option selected="selected">Approve</option>
                  <option>Reject</option>
                </select>
              </td>
            </tr>
         
        </table>
        </div>
      <div class="submit-button-container">
          <input type="submit" name="cancel" value="Save" class="btn-submit">
        </div>
    </div>
    </div>
</div>
{% endblock %}