{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
 <script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<div class="content-container width75">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Task Details<span class="error-message"></span></div>
      <div class="grid-table">
        <table>
          <tr align="left" class="rightside" style="margin-bottom:1em; border:1px solid #ccc;">
           
            <th style="background-color:#eae8e8; color:#000000; font-size: 0.8em;font-weight: bold;" width="95%">Assignor: Sivaraman<span><img src="/images/chevron_black_down.png"></span></th>
          </tr>
          <tr></tr>
          <tr style="border:1px solid #cccccc;">
            <td  style="padding-left:0px;"><table class="managetask">
                <tr align="left"><td rowspan="5" style="border-right:1px solid #ccc; padding-right:5px;"><input type="checkbox" checked="checked"></td>
                  <td width="15%"><span style="font-weight:bold;">S.No :</span></td>
                   <td width="15%" ><span style="font-weight:bold;">Domain :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Act :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Task :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Assign Date :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Actual due date :</span></td>
                 <td rowspan="5" style="border-right:1px solid #ccc; padding-right:5px;"><img src=""></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Labour Law</td>
                  <td>Shops and Commercial Establishments Act</td>
                  <td><abbr class="page-load" title="No commercial establishment shall be opened on any day earlier than 8 a.m or closed on any day later than 8.00 p.m
"><img src="/images/icon-info.png"> Opening and closing hours</abbr></td>
                  <td>15/08/2015</td>
                  <td>24/08/2015</td>
                  
                </tr>
                <tr>
                 <td ><span style="font-weight:bold;">Date of completion:</span></td>
                  <td ><span style="font-weight:bold;">Ageing :</span></td>
                  <td ><span style="font-weight:bold;"> Actual certificate upload :</span></td>
                  <td ><span style="font-weight:bold;">Certificate date :</span></td>
                  <td ><span style="font-weight:bold;">Status :</span></td>
                  <td ><span style="font-weight:bold;">Remarks :</span></td>
                </tr>
                <tr>
                   <td><input type="text" class="input-box" value="28/08/2015"></td>
                  <td>4 Days</td>
                  <td><input type="file" class="input-box" value=""><a href="#">Download</a></td>
                  <td><input type="text" class="input-box" value="28/08/2015"></td>
                  <td>Completed</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="6" style="height:1em;"></td>
                </tr>
              </table></td>
          </tr>
          <tr style="border:1px solid #cccccc;">
            <td  style="padding-left:0px;"><table class="managetask">
                <tr align="left">
                <td rowspan="5" style="border-right:1px solid #ccc; padding-right:5px;"><input type="checkbox"></td>
                <td width="15%"><span style="font-weight:bold;">S.No :</span></td>
                   <td width="15%" ><span style="font-weight:bold;">Domain :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Act :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Task :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Assign Date :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Actual due date :</span></td>
                 
                  
                </tr>
                <tr>
                  <td>2</td>
                  <td>Industrial Law</td>
                  <td>The Batteries (Management & Handling) Rules</td>
                  <td><abbr class="page-load" title="Whether half yearly returns submitted by manufacturer,  importer, bulk consumer, assembler and reconditioned."><img src="/images/icon-info.png"> FORM I</abbr></td>
                  <td>18/08/2015</td>
                  <td>23/08/2015</td>
                  
                </tr>
                <tr>
                <td ><span style="font-weight:bold;">Date of completion:</span></td>
                  <td ><span style="font-weight:bold;">Ageing :</span></td>
                  <td ><span style="font-weight:bold;"> Actual certificate upload :</span></td>
                  <td ><span style="font-weight:bold;">Certificate date :</span></td>
                  <td ><span style="font-weight:bold;">Status :</span></td>
                  <td ><span style="font-weight:bold;">Remarks :</span></td>
                </tr>
                <tr>
                <td><input type="text" class="input-box" value="23/08/2015"</td>
                  <td>5 days</td>
                  <td><input type="file" class="input-box" value=""><a href="#">Download</a></td>
                  <td><input type="text" class="input-box" value="26/08/2015"></td>
                  <td>Inprogress</td>
                  <td><input type="text" class="input-box" value=""></td>
                </tr>
                <tr>
                  <td colspan="6" style="height:1em;"></td>
                </tr>
              </table></td>
          </tr>
          <tr style="border:1px solid #cccccc;">
            <td style="padding-left:0px;"><table class="managetask">
                <tr align="left">
                <td rowspan="5" style="border-right:1px solid #ccc; padding-right:5px;"><input type="checkbox" ></td>
                 <td width="15%"><span style="font-weight:bold;">S.No :</span></td>
                  <td width="15%" ><span style="font-weight:bold;">Domain :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Act :</span></td>
                  <td width="20%"><span style="font-weight:bold;">Task :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Assign Date :</span></td>
                  <td width="15%"><span style="font-weight:bold;">Actual due date :</span></td>
                 
                  
                </tr>
                <tr>
                  <td>3</td>
                  <td>Finance Law</td>
                  <td>Companies Act</td>
                  <td><abbr class="page-load" title="Application for DPIN"><img src="/images/icon-info.png"> DIR-3</abbr></td>
                  
                  <td>18/08/2015</td>
                  <td>26/08/2015</td>
                  
                </tr>
                <tr>
                <td ><span style="font-weight:bold;">Date of completion:</span></td>
                  <td ><span style="font-weight:bold;">Ageing :</span></td>
                  <td ><span style="font-weight:bold;"> Actual certificate upload :</span></td>
                  <td ><span style="font-weight:bold;">Certificate date :</span></td>
                  <td ><span style="font-weight:bold;">Status :</span></td>
                  <td ><span style="font-weight:bold;">Remarks :</span></td>
                </tr>
                <tr>
                <td><input type="text" class="input-box" value="26/08/2015"></td>
                  <td>8 days</td>
                  <td><input type="file" class="input-box" value=""><a href="#">Download</a></td>
                  <td><input type="text" class="input-box" value="26/08/2015"></td>
                  <td>Inprogress</td>
                  <td><input type="text" class="input-box" value=""></td>
                </tr>
                <tr>
                  <td colspan="6" style="height:1em;"></td>
                </tr>
              </table></td>
          </tr>
          <tr align="left" class="rightside" style="margin-bottom:1em; border:1px solid #ccc;">
            <th style="background-color:#eae8e8; color:#000000; font-size: 0.8em;font-weight: bold;" width="95%">Assignor: Vishwanath <span><img src="/images/chevron_black_right.png"></span></th>
          </tr>
           <tr align="left" class="rightside" style="margin-bottom:1em; border:1px solid #ccc;">
            <th style="background-color:#eae8e8; color:#000000; font-size: 0.8em;font-weight: bold;" width="95%">Assignor: Hariharan <span><img src="/images/chevron_black_right.png"></span></th>
          </tr>
        </table>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Submit" class="btn-submit">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#subtaskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Process for Quantum', 'Prepare wage register', 'Sub Task 1', 'New'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#subtasklevel').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Obtain the required information','Obtain the required & standard supplmentation info','Follwup with client until receipt of all info for Form 3  ','Prepare Form 3','Submit Form 3 for obtaining RC','Follwup for obtaining RC with concerned'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});

jQuery(window).load(function(){
  jQuery('.page-load').tipso({
    tooltipHover: true
  });
});
</script>
{% endblock %}