{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Domain Mapping<span class="error-message"></span></div>
       <div class="form-container-outer">
            <div class="form-container-grid-table">
          <table>
            <tr align="left">
              <th width="16.66%">Domain</th>
              <th width="16.66%">Subdomain</th>
              <th width="16.66%">Level 1</th>
              <th width="16.66%">Level 2</th>
            </tr>
            <tr>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <a href="/domainfinance" style="text-decoration:none;color:black"><li>Finance</li></a>
                  <a href="/domainindustry" style="text-decoration:none;color:black"><li>Industrial Law</li></a>
                  <a href="/domainlabour" style="text-decoration:none;color:black"><li class="active">Labour Law</li></a>
                  <a href="/domainmapping" style="text-decoration:none;color:black">
                    <li >Information Technology</li></a>
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Factories</li>
                  <li >Software</li>
                  <li>Establishment</li>
                  <li class="active">CLRA</li>
                  <li>Companies ACT</li>
                  <li>Banking</li>
                  <li>Audit Services</li>
                  <li>Advisory Services</li>
                  <li>Risk Management</li>
                  <li>Asset Management</li>
                  <li>Hardware</li>
                  <li>Infrastructure</li>
                </ul>
              </td>
               <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Lending</li>
                  <li>Mortrage</li>
                  <li >Development</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Application Development</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software Desktop apps</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Product</li>
                  <li>Applications</li>
                  <li>Commerce</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLTP</li>
                  <li>OLAP</li>
                </ul>
              </td>
               <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Lending</li>
                  <li>Application Development</li>
                  <li>Mortrage</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software Desktop apps</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Product</li>
                  <li>Applications</li>
                  <li>Commerce</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLTP</li>
                  <li>OLAP</li>
                </ul>
              </td>
            </tr>
          </table>
          <table>
            <tr align="left">
              <th width="16.66%">Level 3</th>
              <th width="16.66%">Level 4</th>
              <th width="16.66%">Level 5</th>
              <th width="16.66%">Level 6</th>
            </tr>
            <tr>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Software Desktop apps</li>
                  <li>Lending</li>
                  <li>Mortrage</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Product</li>
                  <li>Applications</li>
                  <li>Commerce</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLTP</li>
                  <li>OLAP</li>
                </ul>
              </td>
               <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Lending</li>
                  <li>Mortrage</li>
                  <li>Product</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Applications</li>
                  <li>Commerce</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLTP</li>
                  <li>OLAP</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Lending</li>
                  <li>Mortrage</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li >Commerce</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Applications</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLTP</li>
                  <li>OLAP</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>Core Banking</li>
                  <li>Lending</li>
                  <li>OLTP</li>
                  <li>Mortrage</li>
                  <li>Mutual Funds</li>
                  <li>Merger & Acquisition</li>
                  <li>Due Diligence Services</li>
                  <li >Testing</li>
                  <li>Maintenance</li>
                  <li>Support</li>
                  <li>Functional Testing</li>
                  <li>Performance Testing</li>
                  <li>Software - Web Apps</li>
                  <li>Software - Mobile Apps</li>
                  <li>Staffing Solutions</li>
                  <li>Performance Testing Services</li>
                  <li>Applications</li>
                  <li>System s/w</li>
                  <li>HR</li>
                  <li>SCM</li>
                  <li>OLAP</li>
                </ul>
              </td>
            </tr>
          </table>

              </div>
              <div class="clearfix"></div>
              <br>
                <div class="grid-table">
               <table> <tr>
              <td align="right">Name This Mapping As</td>
              <td><span><input type="text" name="location" class="location-textbox"  value="IT - SW"> 
                <input type="submit" value="Save" name="save" class="btn-save"></span></td>
              </tr></table>
              <div class="clearfix"></div>
                <div class="location-details" style="width:70%;">
              <div class="location-list">
                <table>
                  <tr> 
                    <th>#</th>
                    <th align="left">Mapping</th>
                    <th>Edit</th>
                    <th>Status</th>
                  </tr>
                   <tr>
                    <td width="5%" align="center"></td>
                     <td><input type="text" name="location-name" class="filter-text-box"></td>
                    <td width="10%" align="center"></td>
                    <td width="10%" align="center"></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">1</td>
                    <td width="75%" class="location-name">FL-Insolvency</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-active.png" title="Click here to deactivate" /></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">2</td>
                    <td width="75%" class="location-name">FL-Tax</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">3</td>
                    <td width="75%" class="location-name">FL-Trusts</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">3</td>
                    <td width="75%" class="location-name">LLC-Administration</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">3</td>
                    <td width="75%" class="location-name">LLC-Payroll</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                  <tr>
                    <td width="5%" align="center">3</td>
                    <td width="75%" class="location-name">LLC-Wage Regulations</td>
                    <td width="10%" align="center"><img src="/images/icon-edit.png"></td>
                    <td width="10%" align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                </table>
              </div>
              </div>
              
        </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}