{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width70">
        <div class="content-area">
          <div class="add-container">
        <div class="add-container-heading">Service Provider List<span class="error-message"></span></div>
      <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Service Provider:</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="serviceprovider" autofocus placeholder="Type Service Provider"></div>
              </div>
            </div>
            <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">Task:</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="taskname" autofocus placeholder="Type Task"></div>
              </div>
            </div>            
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
        <div class="clearfix"></div>
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="18%" align="left">Service Provider Name</th>
                <th width="15%" align="left">Contact Person</th>
                <th width="20%" align="left">Address</th>
                <th width="14%" align="left">Mobile</th>
                <th width="10%" align="left">Email</th>
                <th width="3%" align="center">View Task</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>Service provider 1</td>
                <td>John</td>
                <td>12, West car Street, Madruai</td>
                <td>9876543210</td>
                <td>john@domain.com</td>
                <td><input type="button" class="btn-submit" value="View Task" /></td>
              </tr>     
              <tr>
                <td align="center">2</td>
                <td>Service provider 2</td>
                <td>Michel</td>
                <td>45, South street, Madurai</td>
                <td>7876543210</td>
                <td>michel@domain.com</td>
                <td><input type="button" class="btn-submit" value="View Task" /></td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td>Service provider 3</td>
                <td>Ram Kumar</td>
                <td>152, South Cross Street</td>
                <td>04524325856</td>
                <td>ram@gmail.com</td>
                <td><input type="button" class="btn-submit" value="View Task" /></td>
              </tr>          
            </table>
          </div>
        </div>
      </div>
      </div>
      <script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#serviceprovider').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Service provider 1', 'Service provider 2', 'Service provider 3'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   
});
</script>
{% endblock %}