{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width40">
  <div class="content-area">
    <h1>Sub Task Levels</h1>
    <div class="filters-and-search">
      <div class="btn-add" onclick="location.href='/subtasklevel/create'" >Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr align="left">
          <th align="center" width="8%">#</th>
          <th>Sub Task Level</th>
          <th align="center" width="11%">Edit</th>
          <th align="center" width="11%">Status</th>
        </tr>
        <tr>
          <td></td>
          <td><input type="text" class="filter-text-box" value="" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td align="center">1</td>
          <td>Obtain the required information</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>Obtain the required & standard supplmentation info</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>Follwup with client until receipt of all info for Form 3</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
        <tr>
          <td align="center">4</td>
          <td>Prepare Form 3</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
        <tr>
          <td align="center">5</td>
          <td>Submit Form 3 for obtaining RC</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
        <tr>
          <td align="center">6</td>
          <td>Follwup for obtaining RC with concerned</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %} 