{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<div class="content-container width75">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Geography Master<span class="error-message"></span></div>
       <div class="form-container-outer">
            <div class="form-container-grid-table">
              <table>
                <tr align="left">
                  <th width="20%">Country</th>
                  <th width="20%">Levels</th>
                  <th width="20%">State</th>
                  <th width="20%">District</th>
                  <th width="20%">Municipal</th>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>Australia</li>
                      <li>Brazil</li>
                      <li>Egypt</li>
                      <a href="../location" style="text-decoration:none;color:black"><li class="active">India</li></a>
                      <li>Ireland</li>
                      <li>Japen</li>
                      <li>Malaysia</li>
                      <a href="../geography_singapore" style="text-decoration:none;color:black"><li>Singapore</li></a>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <a href="../geography_state" style="text-decoration:none;color:black"><li>State</li></a>
                      <a href="../location" style="text-decoration:none;color:black"><li >District</li></a>
                      <a href="../geography_municipal" style="text-decoration:none;color:black"><li>Municipal</li></a>
                      <a href="../geography_town" style="text-decoration:none;color:black"><li class="active">Town</li></a>
                      <a href="../geography_panchayat" style="text-decoration:none;color:black"><li>Panchayat</li></a>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Andhrapradhesh</li>
                      <li>Karnataka</li>
                      <li >Kerala</li>
                      <li class="active">TamilNadu</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                     <li>Madurai</li>
                     <li class="active">Tirunelveli</li>
                     <li>Tuticorin</li>
                     <li>Kanyakumari</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                     <li>Ambasamudram</li>
                      <li>Sankarankoil</li>
                     <li>Kadayanallur</li>
                      <li>Puliyankudi</li>
                      <li  class="active">Tenkasi</li>                  
                    </ul>
                  </td>
                </tr>
              </table>
              <table>
                <tr align="left">
                  <th width="20%">Town</th>
                  <th width="20%">Panchat</th>
                <tr>
                <tr>
                  <td>
                    <ul>
                     <!-- <li>District 1</li>
                      <li>District 2</li>
                     <li class="active">District 3</li>
                     <li>District 4</li>
                      <li>District 5</li>
                      <li>District 6</li>
                      <li>District 7</li>
                      <li>District 8</li>
                      <li>District 9</li>
                      <li>District 10</li>   -->                   
                    </ul>
                  </td>
                  <td>
                    <ul>
                    <!--  <li>District 1</li>
                      <li>District 2</li>
                     <li class="active">District 3</li>
                     <li>District 4</li>
                      <li>District 5</li>
                      <li>District 6</li>
                      <li>District 7</li>
                      <li>District 8</li>
                      <li>District 9</li>
                      <li>District 10</li>   -->                   
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
            <div class="location-details">
              <span class="label-text">Town</span>
              <span><input type="text" name="location" class="location-textbox" placeholder="Enter Town" value="Alangulam"> <input type="submit" value="Save" name="save" class="btn-save"></span>
              <div class="clearfix"></div>
              <br>
              <br>
            </div>
          </div>

  </div>
</div>
</div>
{% endblock %}
