{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Profile<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Employee Name:</div>
          <div class="input-label">John</div>
        </div>
        <div class="input-row">
          <div class="field-label">Designation:</div>
          <div class="input-label">Project Manager</div>
        </div>
        <div class="input-row">
          <div class="field-label">Email ID / Username:</div>
          <div class="field-input"><input type="text" class="input-box" value="john@domain.com"></div>
        </div>
        <div class="input-row">
          <div class="field-label">Date of Birth:</div>
          <div class="field-input"><input type="text" class="input-box" value="15/07/1982"></div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Employee ID:</div>
          <div class="input-label">EMP302</div>
        </div>
        <div class="input-row">
          <div class="field-label">User Group:</div>
          <div class="input-label">Group 1</div>
        </div>
        <div class="input-row">
          <div class="field-label">Mobile No.:</div>
          <div class="field-input"><input type="text" class="input-box" value="9876543210"></div>
        </div>
        <div class="input-row">
          <div class="field-label">Address:</div>
          <div class="field-input"><textarea class="input-box" style="height:70px;">242, West Street, K.K. Nagar, Madurai, Tamil Nadu, India</textarea></div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="save" value="Save" class="btn-submit">
       &nbsp;&nbsp;
        <input type="submit" name="change_pwd" value="Change Password" onclick="location.href='/change_password'" class="btn-submit">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}