{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<div class="content-container width50">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Assign Manpower<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Task</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="task" autofocus placeholder="Enter Task"></div>
              </div>
           
            </div>
            <div class="input-row-right">
            <div class="input-row">
                <div class="field-label">Sub Task</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="subtask" autofocus placeholder="Enter Sub Task"></div>
              </div>
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
        <div class="clearfix"></div>
          <div class="grid-table">
          <table>
          <tr align="left">
            <th>Activity / Task Name</th>
            <th>Duration</th>
            <th>Assign To</th>
          </tr>
          <tr>
            <td><a href="#">PF Calculation</a></td>
            <td>10 Days</td>
            <td><select class="input-box"><option>Suresh</option></select></td>
          </tr>
          <tr>
            <td><a href="#">TDS Deduction</a></td>
            <td>20 Days</td>
            <td><select class="input-box"><option>Rahim</option></select></td>
          </tr>
          <tr>
            <td><a href="#">Registration</a></td>
            <td>12 Days</td>
            <td><select class="input-box"><option>Siva Kumar</option></select></td>
          </tr>
            </table>
          </div>
           <div class="submit-button-container">
              <input type="submit" name="cancel" value="Assign" class="btn-submit">
            </div> 

          </div>

        </div>
      </div>
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#subtaskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Process for Quantum', 'Prepare wage register', 'Sub Task 1', 'New'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script>
{% endblock %}