{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width60">
        <div class="content-area">
         <div class="add-container">
            <div class="add-container-heading">Configuration Approval<span class="error-message"><!----></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">From Date:</div>
                <div class="field-input">
                  <input type="text" class="input-box" value="" placeholder="dd/mm/yyyy">
                </div>
              </div>
              </div>
              <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">To Date:</div>
                <div class="field-input">
                  <input type="text" class="input-box" value="" placeholder="dd/mm/yyyy">
                </div>
              </div>
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
            <div class="clearfix"></div>
           <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="11%" align="left">Date</th>
                <th align="left" width="20%">Client</th>
                <th align="left">Group Company</th>
                <th width="15%" align="left">Approve</th>
                <th width="20%" align="left">Comments</th>
              </tr>    
              <tr>
                <td align="center">1</td>
                <td align="left">11/07/2015</td>
                <td align="left"><a href="#">TVS Group</a></td>
                <td align="left">TVS Group</td>
                <td align="left">
                  <select class="input-box">
                    <option selected="selected">Approve</option>
                    <option>Reject</option>
                  </select>
                </td>
                 <td><input type="text" name="cancel" value="" class="input-box" placeholder="Type comments"></td>
              </tr>     
              <tr>
                <td align="center">2</td>
                <td align="left">13/07/2015</td>
                <td align="left"><a href="#">Bajaj Allianz Limited</a></td>
                <td align="left">Bajaj Allianz Group of companies</td>
                <td align="left">
                  <select class="input-box">
                    <option >Approve</option>
                    <option selected="selected">Reject</option>
                  </select>
                </td>
                <td><input type="text" name="cancel" value="Document was not clear" class="input-box" placeholder="Type comments"></td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td align="left">18/07/2015</td>
                <td align="left"><a href="#">PRG Financial Services</a></td>
                <td align="left">PRG Group of companies</td>
                <td align="left">
                  <select class="input-box">
                    <option  selected="selected">Approve</option>
                    <option>Reject</option>
                  </select>
                </td>
                 <td><input type="text" name="cancel" value="" class="input-box" placeholder="Type comments"></td>
              </tr>          
            </table>
          </div>
          <div class="submit-button-container">
              <input type="submit" name="cancel" value="Save" class="btn-submit">
            </div> 
         </div> 
        </div>
      </div>
{% endblock %}