{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="single-column-form-outer width40">
  <div class="content-area">
      <div class="single-column-form-inner">
    <div class="single-column-header">Unit / Branch Master<span class="error-message"></span></div>
     <div class="single-column-input-row">
          <div class="input-row">
          <div class="single-column-field-label">Unit / Branch:</div>
          <div class="single-column-field-input">
              <input type="text" class="input-box" value="Aviyur, Madurai" >
            </div>
        </div>
        </div>
      <div class="submit-button-container">
          <input type="reset" name="cancel" value="Cancel" class="btn-cancel" onclick="location.href='/unit_branch/list'">
          &nbsp;&nbsp;
          <input type="submit" name="submit" value="Submit" class="btn-submit">
        </div>
    </div>
    </div>
</div>
{% endblock %}