{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <div class="content-container width40">
  <div class="content-area">
      <h1>Units / Branches</h1>
      <div class="filters-and-search">
     
      <div class="btn-add"  onclick="location.href='/unit_branch/create'"  formtarget="_self">Add</div>
    </div>
      <div class="clearfix"></div>
      <div class="grid-table">
      <table>
          <tr align="left">
          <th align="center">#</th>
          <th>Unit / Branch</th>
          <th align="center">Edit</th>
          <th align="center">Status</th>
        </tr>
         <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
          <tr>
          <td align="center">1</td>
          <td>Aviyur, Madurai</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
          <tr>
          <td align="center">2</td>
          <td>Padi, Chennai</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" id="inactiveid" class="inactive"  title="Click here to activate"/></td>
        </tr>
          <tr>
          <td align="center">3</td>
          <td>Harita, Hosur</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        </table>
    </div>
      
    </div>
</div>
{% endblock %} 