{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <div class="content-container width60" >
  <div class="content-area">
      <h1>Service Mapping List</h1>
      <div class="filters-and-search">
      <div class="btn-add"  onclick="location.href='/servicemapping/create'" formtarget="_self">Add</div>
    </div>
      <div class="clearfix"></div>
      <div class="grid-table">
      <table>
          <tr align="left">
          <th align="center">#</th>
          <th>Service Mapping</th>
          <th>Domain</th>
          <th>Industry - Sector</th>
          <th align="center">Edit</th>
          <th align="center">Status</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
          <tr>
          <td align="center">1</td>
          <td>Mapping 1</td>
          <td>LLC-Payroll</td>
          <td>Manufacturing - Autoparts</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
          
        <tr>
          <td align="center">2</td>
          <td>Mapping 2</td>
          <td>LLC-Administration</td>       
          <td>Production - Mixing</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>Mapping 3</td>        
          <td>LLC-Wage Regulations</td>
          <td>IT - Hardware</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        </table>
    </div>
      
    </div>
</div>
{% endblock %} 