{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
      $('#prosp_img').hide();
      $('#clients_img').show();
      $('#dropdown').on('change', function() {
        if( this.value == "Clients"){
          $('#prosp_img').hide();
          $('#clients_img').show();
        }else{
          $('#prosp_img').show();
          $('#clients_img').hide();
        }
      });
    })
  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Configuration of TVS Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Configuration Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Requirements for PRG Finance has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Requirement Approval</span></p>
    </li>
    <li>
      <p class="notification-text">ABC Group requested for TDS Deduction Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task Request</span></p>
    </li>
    <li>
      <p class="notification-text">PRG Finance requested for PF calculation Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Subtask Request</span></p>
    </li>
    <li>
      <p class="notification-text">Configuration of ABC Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Configuration Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Requirements for TVS Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Requirement Approval</span></p>
    </li>
    <li>
      <p class="notification-text">ABC requested for PF calculation Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task Request</span></p>
    </li>
    <li>
      <p class="notification-text">RGO Technologies requested for ESI Reduction Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Subtask Request</span></p>
    </li>
  </ul>
</div>
<!-- notification section end here -->

<div class="content-container">
<div class="dashboard-content-contaner">
  <div class="graph-box" style="width:800px;" >
            <div class="graph-box-heading">
              <div class="dropdown-box-container">
              <select id="dropdown">
                <option>Clients</option>
                <option>Prospective Clients</option>
              </select>
              </div>
              <div class="graph-title-container">
                <span><img src="images/dashboard/icon-graph.png"></span>
                <span class="graph-title">Client Status</span>
              </div>
            </div>
            <div class="graph-holder">
              <img id="prosp_img"   src="images/dashboard/business_chart1.png">
              <img id="clients_img"  src="images/dashboard/business_chart2.png">
            </div>
  </div>
</div>
{% endblock %} 