{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
      $('#prosp_img').hide();
      $('#clients_img').show();
      $('#dropdown').on('change', function() {
        if( this.value == "Clients"){
          $('#prosp_img').hide();
          $('#clients_img').show();
        }else{
          $('#prosp_img').show();
          $('#clients_img').hide();
        }
      });
    })

    $(document).ready(function() {
      $("#container1").hide();
      $("#container").show();
      loadContainer();
      $(".index-tab").click(function() {
        $(".index-tab").addClass("active")
        $(".archive-tab").removeClass("active")
        $("#container").show();
        $("#container1").hide();
        loadContainer();
      })

      $(".archive-tab").click(function() {
        $(".archive-tab").addClass("active")
        $(".index-tab").removeClass("active")
        $("#container").hide();
        $("#container1").show();
        loadContainer1();
      })

    })

    function loadContainer1(){
        $(function () {
        $('#container1').highcharts({
            colors: [Highcharts.getOptions().colors[7], Highcharts.getOptions().colors[8], '#ED561B', '#DDDF00', '#24CBE5', '#64E572', 
             '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 30
                }
            },
            title: {
                text: 'Client Details'
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                pie: {
                    depth: 45
                }
            },
            series: [{
                name: 'Clients',
                data: [
                    ['Prospective Clients', 70],
                    ['Converted Clients', 30]
                ]
            }]
        });
    });
  }

  function loadContainer(){
        $(function () {
        $('#container').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 30
                }
            },
            title: {
                text: 'Client Details'
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                pie: {
                    depth: 45
                }
            },
            series: [{
                name: 'Clients',
                data: [
                    ['Prospective Clients', 70],
                    ['New Clients', 20],
                    ['Converted Clients', 30]
                ]
            }]
        });
    });
  }
  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Configuration of TVS Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Configuration Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Requirements for PRG Finance has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Requirement Approval</span></p>
    </li>
    <li>
      <p class="notification-text">ABC Group requested for TDS Deduction Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task Request</span></p>
    </li>
    <li>
      <p class="notification-text">PRG Finance requested for PF calculation Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Subtask Request</span></p>
    </li>
    <li>
      <p class="notification-text">Configuration of ABC Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Configuration Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Requirements for TVS Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Requirement Approval</span></p>
    </li>
    <li>
      <p class="notification-text">ABC requested for PF calculation Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task Request</span></p>
    </li>
    <li>
      <p class="notification-text">RGO Technologies requested for ESI Reduction Task</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Subtask Request</span></p>
    </li>
  </ul>
</div>
<!-- notification section end here -->
<div class="content-container">
<div class="content-area">
<div class="archive-container" style="width:850px;">
  <div class="archive-header">
    <span class="index-tab active">Client</span>
    <span class="archive-tab">Prospective Clients</span>
  </div>
  <div class="graph-box" style="width:800px;" >
           <!-- <div class="graph-box-heading">
              <!--<select id="dropdown">
                <option>Clients</option>
                <option>Prospective Clients</option>
              </select>
              <div class="graph-title-container">
                <span><img src="images/dashboard/icon-graph.png"></span>
                <span class="graph-title">Client Status</span>
              </div>
            </div>-->
            <div class="graph-holder">
             <!-- <img id="prosp_img"   src="images/dashboard/business_chart1.png">
              <img id="clients_img"  src="images/dashboard/business_chart2.png">-->
              <div id="container" style="height: 400px"></div>
              <div id="container1" style="height: 400px;margin-left:65px;"></div>
            </div>
   </div>
 </div>
</div>
</div>
{% endblock %} 