{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width70">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th align="center">#</th>
                <th align="left">Country</th>
                <th align="left">Legal Entity</th>
                <th align="left">Division</th>
                <th align="left">Unit</th>
                <th align="left">Type</th>
                <th align="left">Task</th>
                <th align="left">Assigned To</th>

              </tr>
              <tr>
                <td align="center">1</td>
                <td>India</td>
                <td>KG Autoparts</td>
                <td>KG Manufacturing</td>
                <td>Unit Place 1</td>
                <td>Factory</td>
                <td>FORM I Submission</td>
                <td>Sivaraman</td>
               
              </tr>
              <tr>
                <td align="center">2</td>
                <td>India</td>
                <td>KG Transports</td>
                <td>KG Quality Checking</td>
                <td>Unit Place 2</td>
                <td>Office</td>
                <td>FORM II Submission</td>
                <td>Vijayan</td>
               
              </tr> 
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}