{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="8%" align="left">Country</th>
                <th width="13%" align="left">Legal Entity</th>
                <th width="14%" align="left">Division</th>
                <th width="16%" align="left">Unit</th>
                <th width="8%" align="left">Type</th>
                <th width="18%" align="left">Task</th>
                <th width="13%" align="left">Assigned To</th>
                <th width="15%" align="left">Ageing</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>India</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Unit Office 1 - Madurai</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM I</td>
                <td>Sivaraman</td>
                <td>20 Days</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>India</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Unit Office 2 - Madurai</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Narayanan</td>
                <td>19 Days</td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td>India</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Unit Office 1 - Madurai</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM III</td>
                <td>Sivaraman</td>
                <td>16 Days</td>
              </tr> 
              <tr>
                <td align="center">4</td>
                <td>India</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Unit Office 3 - Madurai</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Velmurugan</td>
                <td>14 Days</td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td>India</td>
                <td>KG Autoparts</td>
                <td>KG Sales</td>
                <td>Unit Office 4 - Chennai</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM I</td>
                <td>Nagendren</td>
                <td>13 Days</td>
              </tr>
              <tr>
                <td align="center">6</td>
                <td>India</td>
                <td>KG Autoparts</td>
                <td>KG Administration</td>
                <td>Unit Office 4 - Madurai</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Muthuraman</td>
                <td>12 Days</td>
              </tr>
              <tr>
                <td align="center">7</td>
                <td>India</td>
                <td>KG Autoparts</td>
                <td>KG Sales</td>
                <td>Unit Office 5 - Madurai</td>
                <td>Plantation</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Sivaraman</td>
                <td>12 Days</td>
              </tr>
              <tr>
                <td align="center">8</td>
                <td>India</td>
                <td>KG Autoparts</td>
                <td>KG Manufacturing</td>
                <td>Unit Office 6 - Madurai</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Deepan</td>
                <td>10 Days</td>
              </tr>        
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}