{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width50">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="4%" align="center">#</th>
                <th width="21%" align="left">Task Name</th>
                <th width="20%" align="left">Unit</th>
                <th width="10%" align="left">Assigned To</th>
                <th width="10%" align="left">Assign Date</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>Opening and closing hours</td>
                <td>Branch Office - Madurai</td>
                <td>Sivaraman</td>
                <td>10/08/2015</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>Daily and Weekly Hours</td>
                <td>Branch Office - Chennai</td>
                <td>Manikumar</td>
                <td>12/08/2015</td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td>Overtime</td>
                <td>Branch Office - Trichy</td>
                <td>Sivanathan</td>
                <td>11/08/2015</td>
              </tr> 
              <tr>
                <td align="center">4</td>
                <td>Rest interval</td>
                <td>Branch Office - Madurai</td>
                <td>Sivaraman</td>
                <td>10/08/2015</td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td>Spread over</td>
                <td>Branch Office - Chennai</td>
                <td>Manikumar</td>
                <td>12/08/2015</td>
              </tr>
              <tr>
                <td align="center">6</td>
                <td>Weekly Holiday</td>
                <td>Branch Office - Chennai</td>
                <td>Manikumar</td>
                <td>12/08/2015</td>
              </tr>
              <tr>
                <td align="center">7</td>
                <td>Leave</td>
                <td>Branch Office - Chennai</td>
                <td>Manikumar</td>
                <td>12/08/2015</td>
              </tr>
              <tr>
                <td align="center">8</td>
                <td>Display of name board</td>
                <td>Branch Office - Chennai</td>
                <td>Manikumar</td>
                <td>12/08/2015</td>
              </tr>        
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}