{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width40">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="4%" align="center">#</th>
                <th width="12%" align="left">Task Name</th>
                <th width="15%" align="left">Unit / Branch</th>
                <th width="10%" align="center">No of Task</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>New Registration</td>
                <td>South Gate, Madurai</td>
                <td align="center">2</td>
              </tr>     
              <tr>
                <td align="center">2</td>
                <td>Ammendments</td>
                <td>Aviyur, Madurai</td>
                <td align="center">3</td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td>Ammendments</td>
                <td>Padi, Chennai</td>
                <td align="center">5</td>
              </tr>          
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}