{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })

      $(".bus-tab").click(function() {
        $(".bus-tab").addClass("active")
        $(".know-tab").removeClass("active")
        $(".techno-tab").removeClass("active")
        loadBusiness();
      })

      $(".know-tab").click(function() {
        $(".know-tab").addClass("active")
        $(".bus-tab").removeClass("active")
        $(".techno-tab").removeClass("active")
        loadKnowledge();
      })

      $(".techno-tab").click(function() {
        $(".techno-tab").addClass("active")
        $(".bus-tab").removeClass("active")
        $(".know-tab").removeClass("active")
        loadTechno();
      })
      loadBusiness();

    })

    function loadBusiness(){
      $(function () {
          $('#container').highcharts({
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                  text: 'Client Details'
              },
              subtitle: {
                  text: ''
              },
              plotOptions: {
                  pie: {
                      depth: 45
                  }
              },
              series: [{
                  name: 'Clients',
                  data: [
                      ['Prospective Clients', 70],
                      ['Converted Clients', 30],
                      ['New Clients', 20]
                  ]
              }]
          });
      });

    }

    function loadKnowledge(){
    $(function () {
              $('#container').highcharts({
                  colors: [Highcharts.getOptions().colors[4], Highcharts.getOptions().colors[5], ],
                  chart: {
                      type: 'pie',
                      options3d: {
                          enabled: true,
                          alpha: 30
                      }
                  },
                  title: {
                      text: 'Tasks Details'
                  },
                  subtitle: {
                      text: ''
                  },
                  plotOptions: {
                      pie: {
                          depth: 45
                      }
                  },
                  series: [{
                      name: 'Tasks',
                      data: [
                          ['Assigned Tasks', 70],
                          ['Unassigned Tasks', 30]
                      ]
                  }]
              });
          });
    }

    function loadTechno(){
      $(function () {
                    $('#container').highcharts({
                      colors: [Highcharts.getOptions().colors[3], Highcharts.getOptions().colors[2], ],
                        chart: {
                            type: 'pie',
                            options3d: {
                                enabled: true,
                                alpha: 30
                            }
                        },
                        title: {
                            text: 'Service Mapping details'
                        },
                        subtitle: {
                            text: ''
                        },
                        plotOptions: {
                            pie: {
                                depth: 45
                            }
                        },
                        series: [{
                            name: 'Service Mapping',
                            data: [
                                ['Assigned Service Mapping', 70],
                                ['Service Mappings', 130]
                            ]
                        }]
                    });
                });
    }

  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Configuration of TVS Group has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Configuration Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Requirements for PRG Finance has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Requirement Approval</span></p>
    </li>
    <li>
      <p class="notification-text">Service Provider 3 assigned Rahul for PF Calculation</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Manpower assignment</span></p>
    </li>
    <li>
      <p class="notification-text">New Client "SRG Technologies" has been created</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Client creation</span></p>
    </li>
    <li>
      <p class="notification-text">Service Mapping "Mapping 1" has been created</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Service Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Service Mapping "Mapping 3" has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Service Mapping approval</span></p>
    </li>
    <li>
      <p class="notification-text">Service Mapping "Mapping 23" assigned to TVS Group</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Service Mapping Assignment</span></p>
    </li>
    <li>
      <p class="notification-text">Contract of "Service Provider 2" with TVS Group has completed</p>
      <p class="time">Tue, 26 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Service Mapping Assignment</span></p>
    </li>
  </ul>
</div>
<!-- notification section end here -->

<div class="content-container">
<div class="content-area">
  <div class="archive-container" style="width:850px;">
    <div class="archive-header">
      <span class="bus-tab active">Business</span>
      <span class="know-tab">Knowledge</span>
      <span class="techno-tab">Techno</span>
    </div>
    <div class="graph-box" style="width:800px;"> 
       <div class="graph-holder">
          <div id="container" style="height: 400px"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %} 