{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act >> Rule 4 >> FORM I has been approved</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act >> Rule 5 >> FORM II has been assigned to PRG Groups</p>
      <p class="time">Mon, 20 July, 2015, 8.43AM</p>
      <p class="notification-cat">Category: <span>Statutory Assignment</span></p>
    </li>
    <li>
      <p class="notification-text">New Client "HAC Micro Finance" has been created</p>
      <p class="time">Sat, 18 July, 2015, 12.20AM</p>
      <p class="notification-cat">Category: <span>Client Creation</span></p>
    </li>
    <li>
      <p class="notification-text">New Client "SRG Technologies" has been created</p>
      <p class="time">Sat, 18 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Client creation</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act >> Rule 5 >> FORM II has been approved </p>
      <p class="time">Fri, 17 July, 2015, 10.25AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act >> Rule 5 >> FORM II has been Created </p>
      <p class="time">Thu, 16 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Client NRG Technologies assigned Task Form II submission to Service Provider HSL Services</p>
      <p class="time">Wed, 15 July, 2015, 04.43PM</p>
      <p class="notification-cat">Category: <span>Task Assignment</span></p>
    </li>
    <li>
      <p class="notification-text">Contract of "Service Provider 2" with HSF Group has completed</p>
      <p class="time">Tue, 14 July, 2015, 2.10PM</p>
      <p class="notification-cat">Category: <span>Contract Expiry</span></p>
    </li>
  </ul>
</div>
<div class="content-container">
<div class="dashboard-content-contaner">
  <h1 style="color:white;font-size:20px;margin-top:200px;margin-left:300px">Welcome Rajendran!!!</h1>
</div>
</div>
{% endblock %} 