{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/dashboard.css">

<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
  </script>
   <div class="notification-container">
        <ul>
          <li>
            <p class="notification-text">PF Calculation assigned to Suresh</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Assign Manpower</span></p>
          </li>
          <li>
            <p class="notification-text">TDS Deduction assigned to Rahim</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Assign Manpower</span></p>
          </li>
          <li>
            <p class="notification-text">Registration assigned to Sivakumar</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Assign Manpower</span></p>
          </li>
          <li>
            <p class="notification-text">Renewal Task Completed</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Task</span></p>
          </li>
          <li>
            <p class="notification-text">TDS Deduction Task Completed</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Task</span></p>
          </li>
          <li>
            <p class="notification-text">One Time Registration Completed</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Task</span></p>
          </li>
          <li>
            <p class="notification-text">Sed ut perspiciatis unde omnis istetem accusantium doloremque</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Automobile</span></p>
          </li>
          <li>
            <p class="notification-text">Sed ut perspiciatis unde omnis istetem accusantium doloremque</p>
            <p class="time">Tue, 21 July, 2015, 9.43AM</p>
            <p class="notification-cat">Category: <span>Automobile</span></p>
          </li>
        </ul>
      </div>
      <div class="content-container">
<div class="dashboard-content-contaner">
  <h1 style="color:white;font-size:20px;margin-top:200px;margin-left:300px">Welcome Sivaraman!!!</h1>
</div>
</div>
        
{% endblock %}
