{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })

      $(".index-tab").click(function() {
        $(".index-tab").addClass("active")
        $(".archive-tab").removeClass("active")
		$(".archive-tab-content").hide();
		$(".graph-box").show();
        loadTaskChart();
      })

      $(".archive-tab").click(function() {
        $(".archive-tab").addClass("active")
        $(".index-tab").removeClass("active")
		$(".graph-box").hide();
        $(".archive-tab-content").show();
		$(".graph-box").hide();
		$(".grid-table-dash").show();
		$(".grid-table-dash1").hide();
		
        /*loadUserWiseChart();*/
      })
	  
	  $(".archive-tab1").click(function() {
        $(".archive-tab").addClass("active")
        $(".index-tab").removeClass("active")
		$(".graph-box").hide();
        $(".archive-tab-content").show();
		$(".grid-table-dash").hide();
		$(".grid-table-dash1").show();
		
		
        /*loadUserWiseChart();*/
      })
      loadTaskChart();
    });

    function loadTaskChart(){
      $(function () {
          $('#container').highcharts({
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 30
                  }
              },
              title: {
                  text: 'Task Details'
              },
              subtitle: {
                  text: ''
              },
              plotOptions: {
                  pie: {
                      depth: 45
                  }
              },
              series: [{
                  name: 'Tasks',
                  data: [
                      ['Inprogress', 70],
                      ['Complied', 30],
                      ['Not Complied', 20],
              ['Delayed Compliance', 10],
              ['UnAssigned', 5]
                  ]
              }]
          });
      });
    }

   /* function loadUserWiseChart(){
      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'User wise Tasks'
            },
            xAxis: {
                categories: ['Krishna', 'Hari', 'Prasad', 'Varma', 'Vijay']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Tasks'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: 'Delayed',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Completed',
                data: [2, 2, 3, 2, 1]
            }, {
                name: 'Pending',
                data: [3, 4, 4, 2, 5]
            },
               {
                name: 'Inprogess',
                data: [3, 4, 4, 2, 5]
            }]
        });
    });
    }*/
  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">PF Calculation assigned to Suresh</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Assign Manpower</span></p>
    </li>
    <li>
      <p class="notification-text">TDS Deduction assigned to Rahim</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Assign Manpower</span></p>
    </li>
    <li>
      <p class="notification-text">Registration assigned to Sivakumar</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Assign Manpower</span></p>
    </li>
    <li>
      <p class="notification-text">Renewal Task Completed</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task</span></p>
    </li>
    <li>
      <p class="notification-text">TDS Deduction Task Completed</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task</span></p>
    </li>
    <li>
      <p class="notification-text">One Time Registration Completed</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Task</span></p>
    </li>
    <li>
      <p class="notification-text">Sed ut perspiciatis unde omnis istetem accusantium doloremque</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Automobile</span></p>
    </li>
    <li>
      <p class="notification-text">Sed ut perspiciatis unde omnis istetem accusantium doloremque</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">Category: <span>Automobile</span></p>
    </li>
  </ul>
</div>
<!-- notification section end here -->
<div class="content-container">
  <div class="content-area">
    <div class="archive-container" style="width:850px;">
      <div class="archive-header"> <span class="index-tab active">Tasks</span> <span class="archive-tab">Userwise Compliance</span> </div>
      <!-- archive tab content start here -->
      <div class="archive-tab-content">
        <div class="archive-list-content" style="width:100% !important;">
          <div class="grid-table-dash">
            <table>
              <tr>
                <th width="4%" align="center">#</th>
                <th width="15%" align="left">User</th>
                <th width="10%" align="center">Total</th>
                <th width="10%" align="center">Compiled</th>
                <th width="10%" align="center">Delayed</th>
                <th width="10%" align="center">Inprocess</th>
                <th width="10%" align="center">Not compiled</th>
                <th width="10%" align="center">Performance %</th>
              </tr>
              <tr align="center">
                <td>1</td>
                <td align="left"><a href="#"><span class="archive-tab1">Sivaraman</span></a></td>
                <td>10</td>
                <td>06</td>
                <td>02</td>
                <td>01</td>
                <td>01</td>
                <td>60%</td>
              </tr>
              <tr align="center">
                <td>2</td>
                <td align="left"><a href="#">Vijayan</a></td>
                <td>08</td>
                <td>04</td>
                <td>01</td>
                <td>02</td>
                <td>01</td>
                <td>50%</td>
              </tr>
              <tr align="center">
                <td>3</td>
                <td align="left"><a href="#">Sivanathan</a></td>
                <td>09</td>
                <td>04</td>
                <td>02</td>
                <td>02</td>
                <td>01</td>
                <td>44.4%</td>
              </tr>
              <tr align="center">
                <td>4</td>
                <td align="left"><a href="#">Velmurugan</a></td>
                <td>10</td>
                <td>04</td>
                <td>03</td>
                <td>02</td>
                <td>01</td>
                <td>40%</td>
              </tr>
              <tr align="center">
                <td>5</td>
                <td align="left"><a href="#">Vetriselvam</a></td>
                <td>08</td>
                <td>02</td>
                <td>04</td>
                <td>01</td>
                <td>01</td>
                <td>25%</td>
              </tr>
            </table>
          </div>
          <div class="grid-table-dash1">
            <table>
              <tr>
                <td colspan="5" style="background-color:#FFF;"><h1 style=" color:#000 !important; vertical-align:middle; padding-bottom:0.5em;">User : Sivaraman</h1></td>
              </tr>
              <tr>
              <td colspan="5" style="background-color:#999; color:#FFF;">Status: Complied</td>
              </tr>
              <tr align="left">
                <th width="5%" align="center">#</th>
                <th width="45%">Task</th>
                <th width="15%">Assign Date</th>
                <th width="15%">Actual Due Date</th>
                <th width="15%">Completion Date</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>FORM I Submission</td>
                <td>10/08/2015</td>
                <td>15/08/2015</td>
                <td>14/08/2015</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>FORM II Submission</td>
                <td>10/08/2015</td>
                <td>15/08/2015</td>
                <td>15/08/2015</td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td>FORM III Submission</td>
                <td>10/08/2015</td>
                <td>16/08/2015</td>
                <td>15/08/2015</td>
              </tr>
              <tr>
                <td align="center">4</td>
                <td>FORM IV Submission</td>
                <td>12/08/2015</td>
                <td>18/08/2015</td>
                <td>17/08/2015</td>
              </tr>
              <tr>
                <td align="center">5</td>
                <td>FORM V Submission</td>
                <td>12/08/2015</td>
                <td>20/08/2015</td>
                <td>18/08/2015</td>
              </tr>
              <tr>
                <td align="center">6</td>
                <td>FORM VI Submission</td>
                <td>15/08/2015</td>
                <td>24/08/2015</td>
                <td>24/08/2015</td>
              </tr>
              <tr>
              <td colspan="5" style="background-color:#999; color:#FFF;">Status: Delayed</td>
              </tr>
              <tr align="left">
                <th align="center">#</th>
                <th>Task</th>
                <th>Assign Date</th>
                <th>Actual Due Date</th>
                <th>Completion Date</th>
              </tr>
              <tr>
                <td align="center">1</td>
               <td>FORM VII Submission</td>
                <td>10/08/2015</td>
                <td>24/08/2015</td>
                <td>-</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>FORM VIII Submission</td>
                <td>12/08/2015</td>
                <td>22/08/2015</td>
                <td>-</td>
              </tr>
              <tr>
              <td colspan="5" style="background-color:#999; color:#FFF;">Status: Inprocess</td>
              </tr>
              <tr align="left">
                <th align="center">#</th>
                <th>Task</th>
                <th>Assign Date</th>
                <th>Actual Due Date</th>
                <th>Completion Date</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>FORM IX Submission</td>
                <td>15/08/2015</td>
                <td>30/08/2015</td>
                <td>-</td>
              </tr>
              <tr>
              <td colspan="5" style="background-color:#999; color:#FFF;">Status: Not complied</td>
              </tr>
              <tr align="left">
                <th align="center">#</th>
                <th>Task</th>
                <th>Assign Date</th>
                <th>Actual Due Date</th>
               <th>Completion Date</th>
              </tr>
              <tr>
                <td align="center">1</td>
               <td>FORM X Submission</td>
                <td>15/08/2015</td>
                <td>20/08/2015</td>
                <td>-</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- archive tab content end here -->
      <div class="graph-box" style="width:800px;" > 
        <!-- <div class="graph-box-heading">
              <select id="dropdown">
                <option>Clients</option>
                <option>Prospective Clients</option>
              </select>
              <div class="graph-title-container">
                <span><img src="images/dashboard/icon-graph.png"></span>
                <span class="graph-title">Client Status</span>
              </div>
            </div>-->
        <div class="graph-holder"> 
          <!--<img id="prosp_img"   src="images/dashboard/business_chart1.png">
              <img id="clients_img"  src="images/dashboard/business_chart2.png">-->
          <div id="container" style="height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 