{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width40">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="18%" align="left">Task</th>
                <th width="11%" align="left">Assigned To</th>
                <th width="9%" align="left">Download</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>Submitting FORM I</td>
                <td>Sivaraman</td>
                <td><a href="#">Download</a></td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>Submitting FORM II</td>
                <td>Narayanan</td>
                <td><a href="#">Download</a></td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td>Submitting FORM III</td>
                <td>Sivaraman</td>
                <td><a href="#">Download</a></td>
              </tr> 
              <tr>
                <td align="center">4</td>
                <td>Submitting FORM II</td>
                <td>Velmurugan</td>
                <td><a href="#">Download</a></td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td>Submitting FORM I</td>
                <td>Nagendren</td>
                <td><a href="#">Download</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}