{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width40">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="18%" align="left">Task</th>
                <th width="11%" align="left">Assigned To</th>
                <th width="9%" align="left">Ageing</th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM I</td>
                <td>Sivaraman</td>
                <td>20 Days</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Narayanan</td>
                <td>19 Days</td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM III</td>
                <td>Sivaraman</td>
                <td>16 Days</td>
              </tr> 
              <tr>
                <td align="center">4</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Velmurugan</td>
                <td>14 Days</td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM I</td>
                <td>Nagendren</td>
                <td>13 Days</td>
              </tr>
              <tr>
                <td align="center">6</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Muthuraman</td>
                <td>12 Days</td>
              </tr>
              <tr>
                <td align="center">7</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Sivaraman</td>
                <td>12 Days</td>
              </tr>
              <tr>
                <td align="center">8</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Submitting FORM II</td>
                <td>Deepan</td>
                <td>10 Days</td>
              </tr>        
            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}