{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
  </script>
<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Submit Form IV task was created.</p>
      <p class="time">Sat, 25 July, 2015, 9.43AM</p>
      <p class="notification-cat">User: <span>raveen Kumar</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping  Batteries Act>>Rule 4>>FORM I has been approved</p>
      <p class="time">Fri, 24 July, 2015, 10.10AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act>>Rule 6(iii)>>FORM III has Assigned to Client "KLU Groups"</p>
      <p class="time">Thu, 23 July, 2015, 12.26AM</p>
      <p class="notification-cat">Category: <span>Statutory Assignment</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping The Tamilnadu Shops and Commercial Establishments Act - 1947 and Rules - 1948>>Rule 11(3a)>>Form P - Register of fines,deduction for damages or loss and advance has been Created</p>
      <p class="time">Wed, 22 July, 2015, 12.26AM</p>
      <p class="notification-cat">User: <span>Geetha</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping  The Tamilnadu Shops and Commercial Establishments Act - 1947 and Rules - 1948>>>Rule 16 (1)>>Form Q - Register of employment has been approved</p>
      <p class="time">Tue, 21 July, 2015, 10.10AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Submit Form P task was created.</p>
      <p class="time">Tue, 21 July, 2015, 9.43AM</p>
      <p class="notification-cat">User: <span>Praveen</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act>>Rule 8(i) & 9(1) & 9 (5>>FORM VI has Assigned to client "USI groups"</p>
      <p class="time">Mon, 20 July, 2015, 12.26AM</p>
      <p class="notification-cat">Category: <span>Statutory Assignment</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping  Batteries Act>>Rule 8 (iii)>>FORM VII has been approved</p>
      <p class="time">Mon, 20 July, 2015, 10.10AM</p>
      <p class="notification-cat">Category: <span>Statutory Mapping</span></p>
    </li>
    <li>
      <p class="notification-text">Statutory Mapping Batteries Act>>Rule 11(ii)>>FORM IX has been Created</p>
      <p class="time">Sat, 18 July, 2015, 12.26AM</p>
      <p class="notification-cat">User: <span>Sudha</span></p>
    </li>
  </ul>
</div>
<div class="content-container">
<div class="dashboard-content-contaner">
  <h1 style="color:white;font-size:20px;margin-top:200px;margin-left:300px">Welcome Rajaram!!!</h1>
</div>
</div>
{% endblock %} 