{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Client List<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Group Company:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">TVS Group</option>
              <option >Bajaj Group</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Division:</div>
          <div class="field-input">
            <select class="input-box">
              <option >(Select)</option>
              <option >Auto Parts - Manufacturing</option>
              <option >Rubber - Manufacturing</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Client Name:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" autofocus id="client" value="" placeholder="Enter Client Name" />
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Legal Entity:</div>
          <div class="field-input">
            <select class="input-box">
              <option >(Select)</option>
              <option selected="selected">TVS & Sons</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label"> Unit/Branch:</div>
          <div class="field-input">
            <select class="input-box">
              <option >(Select)</option>
              <option >South Gate, Madurai</option>
              <option >Aviyur, Madurai</option>
            </select>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
        <input type="submit" name="cancel" value="Export to CSV" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th>#</th>
            <th>Client Name</th>
            <th>Unit/Branch</th>
            <th>Division</th>
          </tr>
          <tr>
            <td>1</td>
            <td><a href="#">TVS Group</a></td>
            <td>South Gate, Madurai</td>
            <td>Manufacturing</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="#">Sundaram Auto Components Limited</a></td>
            <td>Hosur-Thally Rd, Hosur</td>
            <td>Plastics Division </td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="#">Sundram Fasteners Limited</a></td>
            <td>Padi, Chennai</td>
            <td>Manufacturing</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#client').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['TVS', 'PRG', 'ART'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
 
});
</script>
{% endblock %}