{% extends "files/desktop/Header/Header.html" %}
{% block content %}

 <div class="content-container width60">
        <div class="content-area">
          <h1>Manpower List</h1>
          <div class="filters-and-search">
            <div class="btn-add"  onclick="location.href='/manpower/create'" formtarget="_self">Add</div>
          </div>
          <div class="clearfix"></div>
          <div class="grid-table">
            <table>
              <tr>
               <th width="6%">#</th>
                <th align="left">Employee ID</th>
                <th align="left">Employee Name</th>
                <th align="left">Mobile No.</th>
                <th align="left">Email ID</th>
                <th align="center" width="8%">Edit</th>
                <th align="center" width="8%">Status</th>
              </tr>
            <tr>
              <td align="center"></td>
              <td><input type="text"  class="filter-text-box"></td>
              <td><input type="text"  class="filter-text-box"></td>
              <td><input type="text"  class="filter-text-box"></td>
              <td><input type="text"  class="filter-text-box"></td>
              <td></td>
              <td></td>
          </tr>
              <tr>
              <td align="center">1</td>
           
            <td>EMP001</td>
            <td>John</td>
            <td>9876543210</td>
            <td>john@domain.com</td>
            <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
            <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          </tr>
          <tr>
          <td align="center">2</td>
            <td>EMP002</td>
            <td>Michel</td>
            <td>9876543210</td>
            <td>michel@domain.com</td>
            <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
            <td align="center"><img src="/images/icon-inactive.png" title="Click here to activate" id="inactiveid" /></td>
          </tr>
          <tr>
          <td align="center">3</td>
            <td>EMP003</td>
            <td>Robert</td>
            <td>9876543210</td>
            <td>robert@domain.com</td>
            <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
            <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          </tr>       
            </table>
          </div>
          
        </div>
      </div>
{% endblock %}
