{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width40">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Assign Due Date<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Task Type:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" autofocus id="tasktype" placeholder="Type Task Type">
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Task:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" autofocus id="task" placeholder="Type Task Name">
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th width="6%" align="center">#</th>
            <th>Activity / Task Name</th>
            <th>Duration</th>
            <th width="20%">Assign To</th>
            <th width="20%">Due Date</th>
          </tr>
          <tr>
            <td align="center">1</td>
            <td><a href="#">PF Calculation</a></td>
            <td>10 Days</td>
            <td>Muthu</td>
            <td><input type="date" value="20/08/2015"  class="input-box" /></td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td><a href="#">TDS Deduction</a></td>
            <td>20 Days</td>
            <td>ART Solutions</td>
            <td><input type="date" value="" class="input-box" /></td>
          </tr>
          <tr>
            <td align="center">3</td>
            <td><a href="#">Registration</a></td>
            <td>12 Days</td>
            <td>ART Solutions</td>
            <td><input type="date" value=""  class="input-box" /></td>
          </tr>
        </table>
      </div>
      <div class="submit-button-container">
        <input type="submit" class="btn-submit" value="Assign">
      </div>
    </div>
  </div>
</div>
</div>
<script>
$(function(){
  $('#tasktype').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Recurring', 'One Time'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#task').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script>

{% endblock %}