{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<meta name="description" content="Tab Styles Inspiration: A small collection of styles for tabs" />
<meta name="keywords" content="tabs, inspiration, web design, css, modern, effects, svg" />
<meta name="author" content="Codrops" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<style type="text/css">
  .input-row, .single-column-input-row {
    float: left;
    padding-bottom: 0.58em;
    width: 100%;
}
#navbar {
  width:auto;
 } 

 #navbar #holder {
  height:auto;
  border-bottom:0px solid #000;
  width:auto;  
  padding-left:25px; 
 } 

 #navbar #holder ul {
  list-style:none;
  margin:0;
  padding:0; 
 } 

 #navbar #holder ul li a { 
  text-decoration:none;
  float:left;
  margin-right:5px;
  font-family:"Arial Black", Gadget, sans-serif;
  color:#000;
  border:0px solid #000;
  border-bottom:none;
  padding:20px;
  width:auto;
  text-align:center;
  display:block;
  background:#A381BD;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px; 
 } 

 #navbar #holder ul li a:hover {
  background:#662D91;
  color:#FFF;
  text-shadow:1px 1px 1px #000;
 } 
</style>
<script type="text/javascript">
$("#section-flip-4").hide();
$("#section-flip-1").show();
$(function() {
  $('.tasktype').change(function(){
    if($(this).val()=="Recurring")
      $('#Recurring').show();
    else
      $('#Recurring').hide();
  });
});

function loadNewTask(){
  $("#section-flip-1").show();
  $("#section-flip-4").hide();
}
function loadExistingTask(){
  $("#section-flip-4").show();
  $("#section-flip-1").hide();
}
</script> 
<script src="/files/desktop/common/js/wizard/jquery.steps.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/wizard/jquery.steps.css">
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
<script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<div class="content-container width75">
  <div class="content-area">
    <h1>Statutory Mapping</h1>
    <div class="add-container">
      <div class="form-container-outer">
        <div id="example-basic">
          <h3>Select Domain</h3>
          <section>
            <div class="form-container-grid-table-sm">
              <table>
                <tr align="left">
                  <th width="25%">Country</th>
                  <th width="25%">Domain</th>
                  <th width="25%">Type</th>
                  <th width="25%">Applicability</th>
                </tr>
                <tr>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                       {% for country in data %}
                          {%if data[country] == "India" %}
                            <li class="active">{{data[country]}}</li>
                          {% else %}
                            <li>{{data[country]}}</li>
                          {% endif %}
                       {% endfor %}
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li>Finance Law</li>
                      <li class="active">Industrial Law</li>
                      <li >Labour Law</li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li class="active">Factory</li>
                      <li>Office</li>
                      <li>Plantation</li>
                      <li>Contractor</li>
                      <li>S & E</li>
                      <li>Mines</li>
                    </ul></td>
                    <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li>Central</li>
                      <li>Concurrence</li>
                      <li class="active">State</li>
                    </ul></td>
                </tr>
              </table>
            </div>
          </section>
          <h3>Select Statutory</h3>
          <section>
            <div class="form-container-grid-table">
              <table>
                <tr align="left">
                  <th width="16.66%">Act</th>
                  <th width="16.66%">Section</th>
                  <th width="16.66%">Sub Section</th>
                  <th width="16.66%">Rule/Scheme/Regulation</th>
                  <th width="16.66%">Sub-Rule</th>
                </tr>
                
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li class="active">Batteries Act</li>
                      <li>Industrial Disputes (Central) Rules, 1957</li>
                      <li>Industrial Employment (Standing Orders) Central Rules, 1946</li>
                      <li>Indian Partnership Act, 1932</li>
                    </ul>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      <li>Rule 4 </li>
                      <li  class="active">Rule 4 (iii)</li>
                      <li>Rule 5 </li>
                      <li>Rule 6 (ii)</li>
                      <li>Rule 6(iii)</li>
                      <li>Rule 7(vii)</li>
                      <li>Rule 7(iv)</li>
                      <li>Rule 8(i) </li>
                      <li>Rule 9(1) </li>
                      <li>Rule 9 (5)</li>
                      <li>Rule 8 (iii)</li>
                      <li>Rule 10(2) (iii)</li>
                      <li>Rule 11(ii)</li>
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                </tr>
                <tr align="left">
                  <th width="16.66%">Para</th>
                  <th width="16.66%">Ammendments/Remarks</th>
                  <th width="16.66%">Clause</th>
                  <th width="16.66%">Subclause</th>
                  <th width="16.66%">Forms</th>
                </tr>
                <tr>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li class="active"><abbr class="page-load" title="Whether half yearly returns submitted by manufacturer,  importer, bulk consumer, assembler and reconditioned"><img src="/images/icon-info.png"> FORM I </abbr></li>
                      <li ><abbr class="page-load" title="Whether registration for importers obtained for importing lead acid battery or primary Lead
"><img src="/images/icon-info.png"> FORM II </abbr></li>
                      <li ><abbr class="page-load" title="Whether undertaking submitted by importer to authority
"><img src="/images/icon-info.png"> FORM III </abbr></li>
                      <li ><abbr class="page-load" title="Whether registration obtained for dealers
"><img src="/images/icon-info.png"> FORM IV </abbr></li>
                      <li ><abbr class="page-load" title="Whether half yearly returns submitted by dealer to manufacturer
"><img src="/images/icon-info.png"> FORM V </abbr></li>
                      <li ><abbr class="page-load" title="Whether registration and renewal obtained by recycler
"><img src="/images/icon-info.png"> FORM VI </abbr></li>
                      <li ><abbr class="page-load" title="Whether half yearly returns submitted by recyclers
"><img src="/images/icon-info.png"> FORM VII </abbr></li>
                      <li ><abbr class="page-load" title="Whether half yearly returns submitted by bulk consumer
"><img src="/images/icon-info.png"> FORM VIII </abbr></li>
                      <li ><abbr class="page-load" title="Whether half yearly returns submitted by auctioneer
"><img src="/images/icon-info.png"> FORM IX </abbr></li>
                    </ul></td>
                </tr>
              </table>
            </div>
          </section>
          <h3>Select Task</h3>
          <section >
            <div id="navbar">
              <div id="holder"> 
              <ul> 
               <li><a href="#" id="onlink">New Task</a></li>
               <li><a href="#">Select Task</a></li>
              </ul> 
              </div>
            </div>
            <div class="form-container-grid-table-sm">
              <div class="input-row-left">
                <div class="input-row">
                  <div class="field-input">
                    <radiogroup>
                      <radio>
                    </radiogroup>
                  </div>
                </div>
                <div class="input-row">
                  <div class="field-label">Task Type</div>
                  <div class="field-input">
                    <select class="input-box tasktype" >
                      <option Selected="selected" >Recurring</option>
                      <option >One Time</option>
                    </select>
                  </div>
                </div>
                <div class="input-row">
                  <div class="field-label">Authority</div>
                  <div class="field-input">
                    <input type="text" class="input-box" value="Authority1">
                  </div>
                </div>
                <div class="input-row">
                  <div class="field-label">Slab Rate</div>
                  <div class="field-input">
                    <input type="text" class="input-box">
                  </div>
                </div>
                <div class="input-row">
                  <div class="field-label">Penalty Rate</div>
                  <div class="field-input">
                    <input type="text" class="input-box">
                  </div>
                </div>
                <div class="input-row">
                  <table style="border:none;">
                    <tr>
                      <td align="left" style="border:none; padding-left:170px;"><input type="submit" name="submit" value="Submit" class="btn-submit"></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="input-row-right recurring" id="Recurring" style="display:inline;">
                <fieldset>
                  <legend>Recurring</legend>
                  <div class="input-row" >
                    <div class="field-label">Repeats</div>
                    <div class="field-input">
                      <select class="input-box" style="width:100px;">
                        <option selected="selected">Monthly</option>
                        <option >Yearly</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="field-label">Repeats Every</div>
                    <div class="field-input">
                      <select class="input-box" style="width:50px; float:left;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option selected="selected">6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                      </select>
                      <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Months</span> </div>
                  </div>
                  <div class="input-row">
                    <div class="field-label">Repeat by</div>
                    <div class="field-input">
                      <label >
                        <input type="radio" name="repeatby" style="width:20px; float:left;" checked="checked">
                        <span style="font-size:0.8em; padding-top:4px; float:left;">day of the month</span></label>
                      <label >
                        <input type="radio"  name="repeatby"  style="width:20px; float:left;">
                        <span style="font-size:0.8em; padding-top:4px; float:left;">End day of the month</span> </label>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="field-label">Trigger Before</div>
                    <div class="field-input">
                      <input type="text" class="input-box" value="15" style="width:50px; float:left;">
                      <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span> </div>
                  </div>
                  <div class="input-row">
                    <div class="field-label">Summary</div>
                    <div class="field-input"> <span style="font-size:0.8em; float:left; padding-top:5px;">Every 6 months</span> </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="grid-table">
              <table>
                <tr align="left" style="height:2.0em;">
                  <th style="height:2em;" align="center">#</th>
                  <th style="height:2em;">Task Name</th>
                  <th style="height:2em;">Task Type</th>
                  <th style="height:2em;">Authority</th>
                  <th style="height:2em;">Repeats</th>
                  <th style="height:2em;" align="center">Edit</th>
                  <th align="center" style="padding-right:3px; height:2em;">Status</th>
                </tr>
                <tr>
                  <td align="center"></td>
                  <td><input type="text" class="filter-text-box"></td>
                  <td><input type="text" class="filter-text-box"></td>
                  <td><input type="text" class="filter-text-box"></td>
                  <td><input type="text" class="filter-text-box"></td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td align="center">1</td>
                  <td>FORM I Submission</td>
                  <td>One Time</td>
                  <td>Authority 1</td>
                  <td></td>
                  <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
                  <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
                </tr>
                <tr>
                  <td align="center">2</td>
                  <td>FORM II Submission</td>
                  <td>Recurring</td>
                  <td>Authority 2</td>
                  <td>Monthly</td>
                  <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
                  <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
                </tr>
              </table>
            </div>
          </section> 
      </section>
          <!-- -->
          <h3>Applicable Location</h3>
          <section>
            <div class="form-container-grid-table">
              <table>
                <tr align="left">
                  <th width="16.66%">Region</th>
                  <th width="16.66%">State</th>
                  <th width="16.66%">District</th>
                  <th width="16.66%">Corporation</th>
                </tr>
                <tr>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li>East</li>
                      <li>North</li>
                      <li class="active">South</li>
                      <li>West</li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <li>Andhra Pradesh</li>
                      <li>Karnataka</li>
                      <li class="active">Kerala</li>
                      <li class="active">Tamil Nadu</li>
                      <li>Telangana</li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Tamil Nadu</h3>
                      <li>Ariyalur </li>
                      <li>Chennai </li>
                      <li  class="active">Madurai </li>
                      <li class="active">Coimbatore </li>
                      <li>Cuddalore </li>
                      <li>Dharmapuri </li>
                      <li>Dindigul </li>
                      <li>Erode </li>
                      <li>Kanchipuram </li>
                      <li>Kanyakumari </li>
                      <li>Karur </li>
                      <li>Krishnagiri </li>
                      <li>Nagapattinam </li>
                      <li>Namakkal </li>
                      <li>The Nilgiris </li>
                      <li>Perambalur </li>
                      <li>Pudukkottai </li>
                      <li>Ramanathapuram </li>
                      <li>Salem </li>
                      <li>Sivaganga </li>
                      <li>Thanjavur </li>
                      <li>Theni </li>
                      <li>Thoothukudi </li>
                      <li>Tiruchirappalli </li>
                      <li>Tirunelveli </li>
                      <li>Tiruppur </li>
                      <li>Tiruvallur </li>
                      <li>Tiruvannamalai </li>
                      <li>Tiruvarur </li>
                      <li>Vellore </li>
                      <li>Viluppuram </li>
                      <li>Virudhunagar </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Kerala</h3>
                      <li> Alappuzha </li>
                      <li> Ernakulam </li>
                      <li> Idukki </li>
                      <li> Kannur </li>
                      <li> Kasaragod </li>
                      <li> Kollam </li>
                      <li> Kottayam </li>
                      <li> Kozhikode </li>
                      <li> Malappuram </li>
                      <li> Palakkad </li>
                      <li> Pathanamthitta </li>
                      <li> Thiruvananthapuram </li>
                      <li> Thrissur </li>
                      <li> Wayanad </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Madurai</h3>
                      <li class="active">Madurai Corporation</li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Coimbatore</h3>
                      <li class="active">Coimbatore Corporation</li>
                    </ul></td>
                </tr>
              </table>
              <table>
                <tr align="left">
                  <th width="16.66%">Municipality</th>
                  <th width="16.66%">Town</th>
                  <th width="16.66%">Panchayat</th>
                </tr>
                <tr>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Madurai</h3>
                      <li> Anaiyur</li>
                      <li class="active"> Avaniyapuram </li>
                      <li> Melur</li>
                      <li> Thirupparankundram </li>
                      <li> Tirumangalam </li>
                      <li class="active"> Usilampatti</li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Madurai</h3>
                      <li class="active"> Alanganallur </li>
                      <li class="active"> Sholavandan </li>
                      <li class="active"> Vilangudi </li>
                      <li class="active"> Palamedu </li>
                      <li> Harveypatti </li>
                      <li class="active"> Thirunagar </li>
                      <li> A.Vellalapatti </li>
                      <li class="active"> Peraiyur </li>
                      <li> Paravai </li>
                      <li> Vadipatti </li>
                      <li> Elumalai </li>
                      <li> T.Kallupatti </li>
                    </ul></td>
                  <td><ul>
                      <li>
                        <input type="text" class="filter-text-box">
                      </li>
                      <h3 style="background-color:gray;padding:2px;font-size:13px;color:white;">Alanganallur</h3>
                      <li> Alagapuri </li>
                      <li class="active"> Ayyur </li>
                      <li class="active"> Chinnailanthaikulam </li>
                      <li> Kalvelipatti </li>
                      <li class="active"> Kotankipatti </li>
                      <li> Manickampatti </li>
                      <li class="active"> Muduvarpatty </li>
                      <li> Paraipatty </li>
                      <li class="active"> Senthamangalam </li>
                      <li> Thanichiyam </li>
                      <li> Vadugapatty </li>
                      <li> Vellaiampatty </li>
                      <li> A. Kovilpatti </li>
                      <li> Athanoor </li>
                      <li> B. Mettupatty </li>
                      <li> Errampatti </li>
                      <li> Keelachinnampatti </li>
                      <li> Kottaimedu </li>
                      <li> Maniyanji </li>
                      <li> Oorcheri </li>
                      <li> Periailanthaikulam </li>
                      <li> T. Mettupatty </li>
                      <li> Theththur </li>
                      <li> Valayapatty </li>
                      <li> Achampatti </li>
                      <li> Ayyankottai </li>
                      <li> Chatravellalapatti </li>
                      <li> Kallanai </li>
                      <li> Kondayanpatty </li>
                      <li> Kuttimeichipatty </li>
                      <li> Melachinnampatty </li>
                      <li> Pannaikudi </li>
                      <li> Rajakalpatty </li>
                      <li> Thandalai </li>
                      <li> Thevaseri </li>
                      <li> Vavidamaruthur </li>
                    </ul></td>
                </tr>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br>
<script type="text/javascript">
  $("#example-basic").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "slideLeft",
    autoFocus: true
  });
jQuery(window).load(function(){
  jQuery('.page-load').tipso({
    tooltipHover: true
});

});
</script> 
{% endblock %}