{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <script src="/files/desktop/common/js/wizard/jquery.steps.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/wizard/jquery.steps.css">
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
 <script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<div class="content-container width75">
  <div class="content-area">
    <h1>Statutory Mapping</h1>

    <div class="add-container">
   
       <div class="form-container-outer">



    <div id="example-basic">
    <h3>Select Statutory</h3>
    <section>
     <div class="form-container-grid-table">
          <table>
            <tr align="left">
            <th width="16.66%">Country</th>
             <th width="16.66%">Domain</th>
              <th width="16.66%">Act</th>
              <th width="16.66%">Section</th>
              <th width="16.66%">Sub Section</th>
             
            </tr>
            <tr>
             <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>

                  <li class="active">India</li>
                  <li>Malaysia</li>
                  <li>Singapore</li>
                  <li>Srilanka</li>
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  <a href="/statutoryfinance" style="text-decoration:none;color:black"><li class="active">Finance Law</li></a>
                  <a href="/statutoryindustrial" style="text-decoration:none;color:black"><li>Industrial Law</li></a>
                  <a href="/statutorymapping" style="text-decoration:none;color:black"><li >Labour Law</li></a>
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li>The Banking Regulation Act, 1949</li>
                  <li >Income Tax Act </li>
                  <li class="active">Companies Act</li>       
                  <li>Factoring Act Rules, 2011</li>
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                </ul>
              </td>
              
            </tr>
          </table>
          <table>
            <tr align="left">
              <th width="16.66%">Rule/Scheme/Regulation</th>
              <th width="16.66%">Sub-Rule</th>
              <th width="16.66%">Para</th>
              <th width="16.66%">Ammendments/Remarks</th>
              <th width="16.66%">Task/Activity</th>
            </tr>
            <tr>
             <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                 <li  class="active">3.3 (A)

 </li>
                  <li>Chapters 50 through 55, 58 or 60 of the C.E.Tariff

</li>
                
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  
                </ul>
              </td>
               <td>
                  <ul>
                    <li><input type="text" class="filter-text-box"></li>
                   
                  </ul>
                </td>
                  <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <li><abbr class="page-load" title="Application for DPIN"><img src="/images/icon-info.png"> DIR-3</abbr></li>
                  <li><abbr class="page-load" title="Reservation of Name"><img src="/images/icon-info.png"> 1
</abbr></li>
                  <li  class="active"><abbr class="page-load" title="Incorporation Document"><img src="/images/icon-info.png"> 2
</abbr></li>
                  <li><abbr class="page-load" title="LLP Agreement"><img src="/images/icon-info.png"> 3
</abbr></li>
                  <li><abbr class="page-load" title="Consent of all Partners"><img src="/images/icon-info.png"> 4</abbr></li>
                  <li><abbr class="page-load" title="Notice for change of Name"><img src="/images/icon-info.png"> 5</abbr></li>
                  <li><abbr class="page-load" title="Register of wages shall be maintained and updated in Form R.
"><img src="/images/icon-info.png"> Form R - Register of wages</abbr></li>
                  <li><abbr class="page-load" title="Annual Return of Limited 11 60 days from the Refer 3.3 (B) Liability Partnership (LLP)"><img src="/images/icon-info.png"> 11
</abbr></li>
                  <li><abbr class="page-load" title="Manufacturers who are not entitled to file ER-2 or
ER-3 returns"><img src="/images/icon-info.png"> ER-1</abbr></li>
                  <li><abbr class="page-load" title="Manufacturers availing exemption on the basis of 20th of value of their annual clearance, manufacturer of next month to processed yarn, unprocessed fabrics falling under Completed chapters 50 through 55, 58 or 60 of the C.E.Tariff quarter or manufacturers of readymade garments"><img src="/images/icon-info.png"> ER-3
</abbr></li>
                </ul>
              </td>
            </tr>
          </table>

              </div>


    </section>
    <h3>Applicable Location</h3>
    <section>
    <div class="form-container-grid-table">
          <table>
            <tr align="left">
            <th width="16.66%">Region</th>
             <th width="16.66%">State</th>
              <th width="16.66%">District</th>
              <th width="16.66%">Corporation</th>
             
            </tr>
            <tr>
             <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>

                  <li>East</li>
                  <li>North</li>
                  <li class="active">South</li>
                  <li>West</li>
                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  <li>Andhra Pradesh</li>
                  <li>Karnataka</li>
                  <li>Kerala</li>
                  <li class="active">Tamil Nadu</li>
                  <li>Telangana</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li><input type="text" class="filter-text-box"></li>
                 <li>Ariyalur </li>
<li>Chennai </li><li  class="active">Madurai </li>
<li>Coimbatore  </li>
<li>Cuddalore </li>
<li>Dharmapuri  </li>
<li>Dindigul  </li>
<li>Erode </li>
<li>Kanchipuram </li>
<li>Kanyakumari </li>
<li>Karur </li>
<li>Krishnagiri </li>

<li>Nagapattinam  </li>
<li>Namakkal  </li>
<li>The Nilgiris  </li>
<li>Perambalur  </li>
<li>Pudukkottai </li>
<li>Ramanathapuram  </li>
<li>Salem </li>
<li>Sivaganga </li>
<li>Thanjavur </li>
<li>Theni </li>
<li>Thoothukudi </li>
<li>Tiruchirappalli </li>
<li>Tirunelveli </li>
<li>Tiruppur  </li>
<li>Tiruvallur  </li>
<li>Tiruvannamalai  </li>
<li>Tiruvarur </li>
<li>Vellore </li>
<li>Viluppuram  </li>
<li>Virudhunagar  </li>

                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
               
                  <li class="active">Madurai Corporation</li>
                
                </ul>
              </td>
              
              
            </tr>
          </table>
          <table>
            <tr align="left">
             
              <th width="16.66%">Municipality</th>
              <th width="16.66%">Town</th>
              <th width="16.66%">Panchayat</th>
              
            </tr>
            <tr>
             <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                <li>  Anaiyur</li>  <li> Avaniyapuram </li>  <li> Melur</li>  <li>
Thirupparankundram </li>  <li> Tirumangalam </li>  <li> Usilampatti</li>
                </ul>
              </td>
              
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  <li class="active">  Alanganallur  </li>
<li>  Sholavandan </li>
<li>  Vilangudi </li>
<li>  Palamedu  </li>
<li>  Harveypatti </li>
<li>  Thirunagar  </li>
<li>  A.Vellalapatti  </li>
<li>  Peraiyur  </li>
<li>  Paravai </li>
<li>  Vadipatti </li>
<li>  Elumalai  </li>
<li>  T.Kallupatti  </li>

                </ul>
              </td>
              <td>
                <ul>
                <li><input type="text" class="filter-text-box"></li>
                  
<li>  Alagapuri </li>
<li>  Ayyur </li>
<li>  Chinnailanthaikulam </li>
<li>  Kalvelipatti  </li>
<li>  Kotankipatti  </li>
<li>  Manickampatti </li>
<li>  Muduvarpatty  </li>
<li>  Paraipatty  </li>
<li>  Senthamangalam  </li>
<li>  Thanichiyam </li>
<li>  Vadugapatty </li>
<li>  Vellaiampatty </li>
<li>  A. Kovilpatti </li>
<li>  Athanoor  </li>
<li>  B. Mettupatty </li>
<li>  Errampatti  </li>
<li>  Keelachinnampatti </li>
<li>  Kottaimedu  </li>
<li>  Maniyanji </li>
<li>  Oorcheri  </li>
<li>  Periailanthaikulam  </li>
<li>  T. Mettupatty </li>
<li>  Theththur </li>
<li>  Valayapatty </li>
<li>  Achampatti  </li>
<li>  Ayyankottai </li>
<li>  Chatravellalapatti  </li>
<li>  Kallanai  </li>
<li>  Kondayanpatty </li>
<li>  Kuttimeichipatty  </li>
<li>  Melachinnampatty  </li>
<li>  Pannaikudi  </li>
<li>  Rajakalpatty  </li>
<li>  Thandalai </li>
<li>  Thevaseri </li>
<li>  Vavidamaruthur  </li>

                </ul>
              </td>
                
            </tr>
          </table>

              </div>
    </section>
   
    </div>

    </div>

    </div>
  </div>
</div>
<br><br><br>
<script type="text/javascript">
  $("#example-basic").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "slideLeft",
    autoFocus: true
  });
jQuery(window).load(function(){
  jQuery('.page-load').tipso({
    tooltipHover: true
});

});
</script>



{% endblock %}