{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <div class="content-container width50" >
  <div class="content-area">
      <h1>Task List</h1>
      <div class="filters-and-search">
      <div class="btn-add"  onclick="location.href='/taskactivity/create'" formtarget="_self">Add</div>
    </div>
      <div class="clearfix"></div>
      <div class="grid-table">
      <table>
          <tr align="left">
          <th align="center">#</th>
          <th>Task Name</th>
          <th>Task Type</th>
          <th>Authority</th>
          <th>Frequency</th>
          <th align="center">Edit</th>
          <th align="center" style="padding-right:3px">Status</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
          <tr>
          <td align="center">1</td>
          <td>FORM I Submission</td>
          <td>One Time</td>
          <td>Authority 1</td>
          <td>Once</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>FORM II Submission</td>
          <td>One time</td>
          <td>Authority 2</td>
          <td>Yearly</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>FORM III Submission</td>
          <td>Recurring</td>
          <td>Authority 2</td>
          <td>Yearly</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>FORM IV Submission</td>
          <td>Recurring</td>
          <td>Authority 1</td>
          <td>Monthly</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
        </tr>
        </table>
    </div>
      
    </div>
</div>
{% endblock %} 