{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Sub Task Request<span class="error-message"><!----></span></div>
            <h2>Client Info</h2>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Client Group:</div>
                <div class="field-input"><input type="text" class="input-box"  value="TVS Group"></div>
              </div>
           
              <div class="input-row">
                <div class="field-label">Division:</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="division" autofocus value="Auto Parts - Manufacturing"></div>
              </div>
               
            </div>
            <div class="input-row-right">
             <div class="input-row">
                <div class="field-label">Legal Entity:</div>
                <div class="field-input"><input type="text" class="input-box" value="TVS & Sons"></div>
              </div>
           
              <div class="input-row">
                <div class="field-label">Unit/ Branch:</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="unitbranch" autofocus value="South Gate, Madurai"></div>
              </div>
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
         <div class="clearfix"></div>
         <h2>Task / Sub Task List</h2>
          <div class="grid-table">
            <table>
            <tr align="left">
            <th colspan="2">Task : Registration</th>
            </tr>
              <tr align="left">
                <td><input type="checkbox" /></td>
                <td>Task / Activity Name</td>
              </tr>
              <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>New</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td>Ammendments</td>
              </tr>
          <tr align="left">
            <th colspan="2">Task : Returns</th>
            </tr>
              <tr align="left">
                <td><input type="checkbox" checked="checked" /></td>
                <td>Task / Activity Name</td>
              </tr>
              <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>Prepare wage register</td>
              </tr>
              <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>Process for Quantum</td>
              </tr>
              <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>Remittance</td>
              </tr>
              <tr>
                <td><input type="checkbox" checked="checked" /></td>
                <td>Returns</td>
              </tr>
          <tr align="left">
            <th colspan="2">Task : Renewal</th>
          </tr>
            </table>
          </div>
           <div class="submit-button-container">
              <input type="submit" name="cancel" value="Request" class="btn-submit">
            </div> 

          </div>

        </div>
      </div>
<script>
$(function(){
  $('#division').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   
   $('#unitbranch').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Process for Quantum', 'Prepare wage register', 'Sub Task 1', 'New'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script>
{% endblock %}