{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width40">
  <div class="content-area">
    <h1>Countries</h1>
    <div class="filters-and-search">
      <div class="btn-add" onclick="location.href='/country/create'" formtarget="_self">Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table" style="height:390px; overflow-y:scroll;">
      <table  >
      <thead>
        <tr align="left">
          <th align="center" width="10%">#</th>
          <th width="70%">Country Name</th>
          <th align="center" width="10%">Edit</th>
          <th align="center" width="10%">Status</th>
        </tr>
      </thead>
       <tbody>
          <tr>
          <td width="10%">&nbsp;</td>
          <td width="70%"><input type="text"  class="filter-text-box"></td>
          <td width="10%">&nbsp;</td>
          <td width="10%">&nbsp;</td>
        </tr>
        {% for country in data %}
          <tr>
            <td align="center" >{{loop.index}}</td>
            <td>{{data[country]}}</td>
            <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
            <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          </tr>
        {% endfor %}
        </tbody>
     
      </table>
    </div>
    
  </div>
</div>
{% endblock %}