{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Task List<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Service Mapping:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="servicemapping" autofocus value="" placeholder="Enter Mapping Name" >
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Activity Type:</div>
          <div class="field-input">
            <select class="input-box" >
              <option>ALL</option>
              <option>Recurring</option>
              <option>One Time</option>
            </select>
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Task/Activity Name: </div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="taskname" autofocus value="" placeholder="Enter Task Name" >
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Repeats:</div>
          <div class="field-input">
            <select class="input-box" >
              <option>ALL</option>
              <option>Monthly</option>
              <option>Yearly</option>
            </select>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
        <input type="button"  class="btn-submit" value="Export to CSV" />
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th width="5%" align="center">#</th>
            <th>Task/Activity Name</th>
            <th>Activity Type</th>
            <th>Repeats</th>
            <th>Duration(days)</th>
            <th>Slab Rate</th>
            <th>Penalty Rate</th>
          </tr>
          <tr>
            <td align="center">1</td>
            <td>TDS Deduction</td>
            <td>Recurring</td>
            <td>Monthly</td>
            <td>20</td>
            <td>Nil</td>
            <td>Nil</td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td>Renewal</td>
            <td>Recurring</td>
            <td>Yearly</td>
            <td>15</td>
            <td>500.00</td>
            <td>100.00</td>
          </tr>
          <tr>
            <td align="center">3</td>
            <td>Registration</td>
            <td>One Time</td>
            <td>Once</td>
            <td>20</td>
            <td>800.00</td>
            <td>100.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#servicemapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Mapping 1', 'Mapping 2', 'Mapping 3'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script>
{% endblock %}