{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<div class="content-container width75">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Task Mapping<span class="error-message"></span></div>
       <div class="form-container-outer">
            <div class="form-container-grid-table">
              <table>
                <tr align="left">
                  <th width="20%">Task</th>
                  <th width="20%">Sub Task</th>
                  <th width="20%">Level 1</th>
                  <th width="20%">Level 2</th>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <a href="/taskmapping"; style="text-decoration:none;color:black"><li>Registration</li></a>
                      <a href="/taskmappingreturns"; style="text-decoration:none;color:black"><li class="active">Returns</li></a>
                      <li>Task 1</li>
                      <li>Task 2</li>
                      <li>Task 3</li>
                      <li>Task 4</li>
                     
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>New</li>
                      <li>Amendments</li>
                      <li class="active">Prepare wage Register</li>
                      <li>Process for quantum</li>
                      <li>Remittance</li>
                      <li>Returns</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li class="active">Obtain the required information & standard supplmentation info</li>
                      <li>Followup with client until receipt of all info for Form 3</li>
                      <li>compute employee contributions</li>
                      <li>Prepare Form 3</li>
                      <li >Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li >Obtain acknowledgement for RC application submission</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li >Follwup for obtaining RC with concerned</li>
                      <li >Upload RC scanned copy for closure of the task</li>
                      <li>Obtain attendance</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li >Followup with client until receipt of all info for Form 3</li>
                      <li>compute employee contributions</li>
                      <li class="active">Obtain attendance</li>
                      <li>Prepare Form 3</li>
                      <li >Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li >Obtain acknowledgement for RC application submission</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li >Follwup for obtaining RC with concerned</li>
                      <li >Upload RC scanned copy for closure of the task</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <table>
                <tr align="left">
                  <th width="20%">Level 3</th>
                  <th width="20%">Level 4</th>
                  <th width="20%">Level 5</th>
                  <th width="20%">Level 6</th>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>compute employee contributions</li>
                      <li>Prepare Form 3</li>
                      <li class="active">Generate Muster Roll</li>
                      <li >Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li >Obtain acknowledgement for RC application submission</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li >Upload RC scanned copy for closure of the task</li>
                      <li>Obtain attendance</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>compute employee contributions</li>
                      <li class="active">Process for wage register</li>
                      <li>Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li >Obtain acknowledgement for RC application submission</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li >Upload RC scanned copy for closure of the task</li>
                      <li>Obtain attendance</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li class="active">compute employee contributions</li>
                      <li>Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li>Obtain acknowledgement for RC application submission</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li >Upload RC scanned copy for closure of the task</li>
                      <li>Obtain attendance</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Obtain client signature in Form 3</li>
                      <li>file the returns</li>
                      <li>Upload the scanned copies for closure of the task</li>
                      <li class="active">Upload RC scanned copy for closure of the task</li>
                      <li>Obtain attendance</li>
                    </ul>
                  </td>
                </tr>
              </table>
              <div class="submit-button-container" style="margin-top:10px">
              <input type="submit" name="cancel" value="Save" class="btn-submit">
            </div>
            </div>
            <div class="location-details" style="margin-top:-10px">
              <div class="location-list">
                <table width="100%">
                  <tr>
                    <th width="5%">#</th>
                    <th width="42%" align="left">Task Name</th>
                    <th width="43%" align="left">Sub Task</th>
                    <th width="5%">Edit</th>
                    <th width="5%">Status</th>
                  </tr>
                   <tr>
                    <td  align="center"></td>  
                    <td><input type="text" class="filter-text-box"></td>
                    <td><input type="text" class="filter-text-box"></td>
                    <td  align="center"></td>
                    <td  align="center"></td>
                  </tr>
                  <tr>
                    <td  align="center">1</td>
                    <td  class="location-name">Registration</td>
                    <td  class="location-name">New</td>
                    <td  align="center"><img src="/images/icon-edit.png"></td>
                    <td  align="center"><img src="/images/icon-active.png" title="Click here to deactivate" /></td>
                  </tr>
                  <tr>
                    <td  align="center">2</td>
                    <td  class="location-name">Registration</td>
                    <td  class="location-name">Amendments</td>
                    <td  align="center"><img src="/images/icon-edit.png"></td>
                    <td align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                  <tr>
                    <td  align="center">3</td>
                    <td  class="location-name">Returns</td>
                    <td class="location-name">Prepare Wage Register</td>
                    <td  align="center"><img src="/images/icon-edit.png"></td>
                    <td align="center"><img src="/images/icon-inactive.png" title="Click here to activate"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

  </div>
</div>
</div>
{% endblock %}