{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width50">
  <div class="content-area">
    <h1>Client Master</h1>
    <div class="filters-and-search">
      <div class="btn-add" onclick="location.href='/prospectivemaster/update'" formtarget="_self">Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr>
          <th width="3%" align="center">#</th>
          <th width="10%" align="left">Client Name</th>
          <th width="12%" align="left">Group Company</th>
          <th width="15%" align="left">Domain</th>
          <th width="6%" align="center">Edit</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
        </tr>
        <tr>
          <td align="center">1</td>
          <td align="left">TVS Group</td>
          <td align="left">TVS Group</td>
          <td align="left">Labour Law Compliances</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td align="left">Bajaj Allianz Group</td>
          <td align="left">Bajaj Allianz & sons</td>
          <td align="left">Payroll Services</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td align="left">PRG Group</td>
          <td align="left">PRG & Sons</td>
          <td align="left">Payroll services</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}