{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Industry Master<span class="error-message"></span></div>
      <div class="form-container-outer">
        <div class="form-container-grid-table">
          <table>
            <tr align="left">
              <th width="16.66%">Industry</th>
              <th width="16.66%">Sub Industry</th>
              <th width="16.66%">Sub Sub Industry</th>
            </tr>
            <tr>
              <td><ul>
                  <li>
                    <input type="text" class="input-box" placeholder="Enter Industry Name">
                    <img src="/images/icon-plus.png" formtarget="_self" style="padding-left:5px; vertical-align: middle;"/></li>
                  <a href="/domainfinance" style="text-decoration:none;color:black">
                  <li>Automobiles</li>
                  </a> <a href="/domainindustry" style="text-decoration:none;color:black">
                  <li class="active">Manufacturing</li>
                  </a> <a href="/domainlabour" style="text-decoration:none;color:black">
                  <li>Production</li>
                  </a>
                </ul></td>
              <td><ul>
                  <li><input type="text" class="input-box" placeholder="Enter Sub Industry Name">
                    <img src="/images/icon-plus.png" formtarget="_self" style="padding-left:5px; vertical-align: middle;"/></li>
                  <a href="#" style="text-decoration:none;color:black">
                  <li>Chemical</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Consumer Goods</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Establishment</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li class="active">Auto Parts</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li >Brokerage</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Banking</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Investments</li></a>
                </ul></td>
              <td><ul><li>
                  <input type="text" class="input-box" placeholder="Enter Sub Sub Industry Name">
                    <img src="/images/icon-plus.png" formtarget="_self" style="padding-left:5px; vertical-align: middle;"/></li>
                  <a href="#" style="text-decoration:none;color:black"><li class="active">Sub Sub Industry 1</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Sub Sub Industry 2</li></a>
                  <a href="#" style="text-decoration:none;color:black"><li>Sub Sub Industry 3</li></a>
                </ul></td>
            </tr>
          </table>
          <br />
          <div class="clearfix"></div>
          <div class="submit-button-container">
            <input type="reset" name="cancel" value="Cancel" class="btn-cancel" onclick="location.href='/industry/list'" >
            &nbsp;&nbsp;
            <input type="submit" name="submit" value="Submit" class="btn-submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 