{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width40">
  <div class="content-area">
    <h1>Sub Tasks</h1>
    <div class="filters-and-search">
      <div class="btn-add"  onclick="location.href='/subtaskentry/create'" >Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr align="left">
          <th width="8%" align="center">#</th>
          <th>Sub Task</th>
          <th width="11%" align="center">Edit</th>
          <th width="11%" align="center">Status</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
        <tr>
          <td align="center">1</td>
          <td>Registration</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-active.png" title="Click here to deactivate" /></a></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>Amendments</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate" class="inactive"></a></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>Prepare Wage Register</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate" class="inactive"></a></td>
        </tr>
        <tr>
          <td align="center">4</td>
          <td>Process for Quantum</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate" class="inactive"></a></td>
        </tr>
        <tr>
          <td align="center">5</td>
          <td>Remittance</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate" class="inactive"></a></td>
        </tr><tr>
          <td align="center">6</td>
          <td>Returns</td>
          <td align="center"><a href="#"><img src="/images/icon-edit.png"></a></td>
          <td align="center"><a href="#"><img src="/images/icon-inactive.png" title="Click here to activate" class="inactive"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
<div>
{% endblock %} 