{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="single-column-form-outer width40">
  <div class="content-area">
    <div class="single-column-form-inner">
      <div class="single-column-header">Sub Task Entry <span class="error-message">&nbsp;</span></div>
      <div class="single-column-input-row">
        <div class="input-row">
          <div class="single-column-field-label">Task:</div>
          <div class="single-column-field-input">
            <input type="text" class="input-box icon-autocomplete" id="taskname" autofocus placeholder="Task" value="Returns">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Sub Task:</div>
          <div class="single-column-field-input">
            <input type="text" class="input-box" placeholder="Sub task" value="Prepare wage register">
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="reset" name="cancel" value="Cancel" class="btn-cancel"  onclick="location.href='/subtaskentry/list'" >
        &nbsp;&nbsp;
        <input type="submit" name="submit" value="Submit" class="btn-submit">
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          var len = term.length;
          for (i=0;i<choices.length;i++){
              choice = choices[i].slice(0,len).toLowerCase();
              if (choice === term)
                suggestions.push(choices[i]);
          }
          suggest(suggestions);
      }
  });
});
</script>
{% endblock %} 