{% extends "files/desktop/Header/Header.html" %}
<style>
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
</style>
{% block content %}

<div class="content-container width75">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Assign Service Mapping<a href="/assignservicemappingrecommendation">
      <span class="error-message recommendation">Recommendation (3)</span></a></div>
      <div class="form-container-outer">
        <div class="form-container-grid-table">
          <table>
            <tr align="left">
              <th width="20%">Client Group </th>
              <th width="20%">Legal Entity </th>
              <th width="20%">Division</th>
              <th width="20%">Unit/ Branch</th>
              <th width="20%">Service Mapping</th>
            </tr>
            <tr>
              <td><ul>
                  <li><input type="text" class="filter-text-box"></li>
                  <a href="/assignservicemapping_bajaj" style="text-decoration:none;color:black">
                    <li class="active">Bajaj Allianz Group</li></a>
                  <a href="/assignservicemapping_prg" style="text-decoration:none;color:black">
                    <li>PRG Group</li></a>
                  <a href="/assignservicemapping" style="text-decoration:none;color:black"><li >TVS Group</li></a>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li class="active">Bajaj Legal Entity</li>
                  <li>PRG Legal Entity</li>
                  <li >TVS & Sons</li>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li >Auto Parts - Manufacturing</li>
                  <li>Alagendran Auto Pvt Ltd</li>
                  <li class="active">Jayavillas Pvt Ltd</li>
                  <li>Sundaram Fastners</li>
                  <li>TVS Automobile Solutions Limited</li>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li>Aviyur, Madurai</li>
                  <li>Colombu, Srilanka</li>
                  <li class="active">Harita, Hosur</li>
                  <li>Padi, Chennai</li>
                  <li >South Gate, Madurai</li>
                  <li>Srirangam, Trichy</li>
                  <li>Veerapandi, Coimbatore </li>
                </ul></td>
                <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li  class="active"><a href="#" class="tooltip" for="modal-1">Mapping 1</a></li>
                  <li class="active"><a href="#" class="tooltip">Mapping 2 </a></li>
                  <li  ><a href="#" class="tooltip">Mapping 3 </a></li>
                </ul></td>
            </tr>
          </table>
        </div>

        <!--<div class="form-container-grid-table">
          <table>
            <tr align="left">
              <th width="25%">Domain Mapping</th>
              <th width="25%">Industry - Sector</th>
              <th width="25%">Location</th>
              <th width="25%">Service Mapping</th>
              <th></th>
            </tr>
            <tr>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li >FL - Insolvency</li>
                  <li>FL - Tax</li>
                  <li>FL - Trusts</li>
                  <li>LLC - Administration</li>
                  <li class="active">LLC - Payroll</li>
                  <li>LLC - Wage Regulations</li>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li>IT - Software</li>
                  <li>IT - Hardware</li>
                  <li class="active">Manufacturing - Autoparts</li>
                  <li>Production - Mixing</li>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li>Anna Nagar, Madurai, Tamil nadu, India</li>
                  <li>Colombo, Western, Srilanka</li>
                  <li >T Nagar, Chennai, Tamil nadu, India</li>
                  <li class="active">South Gate, Madurai, Tamil nadu, India</li>
                  <li>Woodlands, Northern Singapore, Singapore</li>
                </ul></td>
              <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li>Mapping 1</li>
                  <li class="active">Mapping 2</li>
                  <li>Mapping 3</li>
                </ul></td>
            </tr>
          </table>
        </div>-->
        <div class="clearfix"></div>
        <br>
        
        <div class="grid-table">
          <table>
            <tr align="left" class="rightside">
              <th >Task: Registration<span>Service Mapping: Mapping1</span></th>
            </tr>
            <tr>
              <td><table cellpadding="0" cellspacing="0" width="100%">
                  <tr align="left">
                    <td width="15%"><input type="checkbox" /></td>
                    <td width="85%">Sub Task Name</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td>New</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>Ammendments</td>
                  </tr>
                </table></td>
            </tr>
            </table>
            </div>
        <div class="grid-table">
          <table>
            <tr align="left" class="rightside">
              <th>Task: Returns<span>Service Mapping: Mapping 3</span></th>
            </tr>
            <tr>
              <td><table cellpadding="0" cellspacing="0" width="100%">
                  <tr align="left">
                    <td width="15%"><input type="checkbox"  /></td>
                    <td width="85%">Sub Task Name</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td>Prepare wage register</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td>Process for Quantum</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td>Remitance</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" checked="checked" /></td>
                    <td>Returns</td>
                  </tr>
                </table></td>
            </tr>
            <tr align="left" class="rightside">
              <th >Task: Renewal<span>Service Mapping: Mapping 3</span></th>
            </tr>
          </table>
        </div>
        <div class="submit-button-container">
          <input type="submit" name="cancel" value="Assign" class="btn-submit">
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}