{% extends "files/desktop/Header/Header.html" %}
{% block content %}
 <div class="content-container width70">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Requirement Approval<span class="error-message"><!----></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">From Date:</div>
                <div class="field-input">
                  <input type="text" class="input-box" value="" placeholder="dd/mm/yyyy">
                </div>
              </div>
              </div>
              <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">To Date:</div>
                <div class="field-input">
                  <input type="text" class="input-box" value="" placeholder="dd/mm/yyyy">
                </div>
              </div>
            </div>
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
            <div class="clearfix"></div>
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="8%" align="left">Date</th>
                <th width="10%" align="left">Client</th>
                <th width="12%" align="left">Domain</th>
                <th width="10%" align="left">Industry</th>
                <th width="5%" align="left">Country</th>
                <th width="10%" align="center">Approve</th>
                <th width="10%" align="center">Reason</th>
              </tr>    
              <tr>
                <td align="center">1</td>
                <td>11/07/2015</td>
                <td align="left"><a href="#">TVS Group</a></td>
                <td align="left">Labour Law Compliances</td>
                <td align="left">Manufacturing</td>
                <td align="left">India</td>
                <td align="center">
                  <select class="input-box">
                    <option selected="selected">Approve</option>
                    <option>Reject</option>
                  </select>
                </td>
                <td></td>
              </tr>     
              <tr>
                <td align="center">2</td>
                <td>08/07/2015</td>
                <td align="left"><a href="#">PRG Group</a></td>
                <td align="left">Payroll services</td>
                <td align="left">Sales</td>
                <td align="left">India</td>
                <td align="center">
                  <select class="input-box">
                    <option selected="selected">Approve</option>
                    <option>Reject</option>
                  </select>
                </td>
                <td></td>
              </tr>
              <tr>
                <td align="center">3</td>
                <td>06/07/2015</td>
                <td align="left"><a href="#">Bajaj Allianz Group</a></td>
                <td align="left">Consumer services</td>
                <td align="left">Manufacturing</td>
                <td align="left">India</td>
                <td align="center">
                  <select class="input-box">
                    <option >Approve</option>
                    <option selected="selected">Reject</option>
                  </select>
                </td>
                <td><input type="text" name="cancel" value="Reason 1" class="input-box"></td>
              </tr>          
            </table>
          </div>
          <div class="submit-button-container">
              <input type="submit" name="cancel" value="Save" class="btn-submit">
            </div> 
          </div>
        </div>
      </div>
{% endblock %}